[2018-11-01 21:40] pixelzoom opened #100 "investigate graph range error"
Related to https://github.com/phetsims/graphing-quadratics/issues/43, discovered while @chrisklus and I were experimenting with changing constants in GQConstants.

Change these constants:

[code]

to `( -12, 12 )` causes this Error:

[code]

[2018-11-01 23:31] pixelzoom commented on #95
@zepumph said:

@samreid's comment concluded:

I may be misinterpreting, but "include the values even when undefined" sure sounds like it's recommending to set the values to undefined in `toStateObject`.  @zepumph How do you interpret it?  @samreid How did you intend it?

[2018-11-01 23:46] pixelzoom commented on #99
I now recall why I didn't do this in the first place.  GRAPHING_LINES/GraphNode  (which we definitely need to use) requires GRAPHING_LINES/Graph.   So no changes here.  Closing.

[2018-11-01 23:46] #99 closed

[2018-11-01 23:52] pixelzoom commented on #98
I took the verbose output from `grunt find-duplicates` and converted it to this checklist to investigate:

- [ ] ExploreInteractiveEquationNode.js: 105-131, FocusAndDirectrixInteractiveEquationNode.js: 109-135

- [ ] FocusManipulator.js: 5-21, PointOnParabolaManipulator.js: 4-20

- [ ] VertexManipulator.js: 89-104, VertexNode.js: 72-87

- [ ] StandardFormModel.js: 5-25, VertexFormModel.js: 5-25

-

[2018-11-02 00:13] pixelzoom commented on #98
The first one in the list was legitimate duplication oversight, and I addressed it as described above.
The majority were false positives, as described above.

Assigning to @chrisklus in case he wants to review.  Feel free to close if everything looks OK.

[2018-11-02 00:30] pixelzoom commented on #100
`( -9, 9 )` and `( -11, 11 )` work just fine.  It looks like `( -12, 12 )` expands the height of the graph so that it overlaps the initial location of the point tools, and that's likely causing a problem (though it shouldn't).

[2018-11-02 00:41] pixelzoom commented on #100
The initial locations of the point tools are (-2,12) and (2,-12), so expanding the graph's range means that the point tools are initially on the graph.  And that exposes a problem with this bit in `PointTool`:

[code]

The derivation function calls `getQuadraticNear`, which then calls `this.onQuadraticProperty.value`.  So if the initial state is such that the point tool is on the graph, `this.onQu

[2018-11-02 00:46] pixelzoom commented on #100
I verified that option (2) fixes the problem by setting the initial locations of the point tools to `( -2, this.graph.yRange.min - 2)` and `( 2, this.graph.yRange.min - 2 )`.

[2018-11-02 00:56] zepumph commented on #95
That makes a lot of sense. I misunderstood.  @samreid I think it is alright to exclude some pieces when undefined if desired, but I think with a large note in the doc that normally it should be null.

[2018-11-02 01:12] pixelzoom commented on #100
Fixed using option (1) in the above commit.  The point tools can now be anywhere (on or off the graph) initially.  See screenshot below:

![screenshot_824](https://user-images.githubusercontent.com/3046552/47888425-0b92a800-de0a-11e8-919a-e2775f6603f6.png)

[2018-11-02 01:16] pixelzoom commented on #100
Since we want to have the point tools start off the graph initially, I also applied option (1), so that the y coordinate of the point tools are computed based on yRange.

[2018-11-02 01:20] pixelzoom commented on #100
Tested with a bunch of different graph ranges and all is well.   Closing.

[2018-11-02 01:20] #100 closed

[2018-11-02 02:30] pixelzoom commented on #95
I'm torn about what to do here.

The `documentation` for QuadraticIO includes:

`'Non-parabolas (a=0) will have a subset of the properties that parabolas have.' +`

so it seems like the absence of some fields is (adequately?) documented.

On the other hand, if the convention is use `null`, then it would be straightforward to add an `else` clause to `Quadratic` constructor, i.e.:

[code]

...and mo

[2018-11-02 02:32] pixelzoom commented on #95
Btw... I don't believe any other code will be affected by this decision, because client code does not test for `undefined` or `null` fields, it calls Quadratic `isaParabola`.

[2018-11-02 05:00] samreid commented on #80
In developing this, I realized a better name than `phetioOverrides` would be `phetioComponentOptions` so first commit will use that.

[2018-11-02 05:05] samreid commented on #80
The preceding commit adds `phetioComponentOptions` and example usage in `GQManipulator` which looks like this:

[code]

I tested in Studio and this has the correct behavior that the rest of the NodeIO is mutable, but the visibleProperty is readOnly.

I chose an implementation strategy that is centralized in PhetioObject, but after reflection think we should implement something type specific--for i

[2018-11-02 05:11] samreid commented on #80
Here's a patch that uses the Node-specific API and implementation for Node subcomponents:

<details>
Index: graphing-quadratics/js/common/view/GQManipulator.js
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- graphing-quadratics/js/common/view/GQManipulator.js	(revision 5d8b8bb0cd3ab9fe7

[2018-11-02 14:07] samreid commented on #52
I added console.log for each control for graphing quadratics screen 1 and saw the following:

[code]

Note many of these are `visibleProperty`, `opacityProperty`, `pickabilityProperty`, and `enabledProperty` which should default to have a control.  But others like `bSlider.track.trackInputListener.isDraggingProperty` should not have a control.  From the perspective of making a thoughtful and spars

[2018-11-02 14:10] samreid commented on #95
The original checklist item read:

- [ ] `undefined` values cannot be saved by phet-io, sims should be written to use `null` instead.

I will rewrite this as

- [ ] Like JSON, keys for `undefined` values are omitted in the state--consider this when determining whether toStateObject should use null or undefined values.

I think this is the appropriate course of action and I'm ready to close this is

[2018-11-02 15:31] pixelzoom commented on #95
Sounds good.  So stick with undefined in QuadraticIO, no code changes required.  Closing.

[2018-11-02 15:31] #95 closed

[2018-11-02 15:35] pixelzoom commented on #52
I'd like to take a more thorough/thoughtful look at this, but I'm out today (Fri 11/2).  I'll try to get to it sometime over the weekend.

[2018-11-02 15:41] pixelzoom commented on #80
I'm not clear on the previous 2 comments...  Have you changed direction from having one option with nested options for each instrumented Property, like this:

[code]

to an option per Property, something like this?

[code]

[2018-11-02 15:43] samreid commented on #80
I committed as described in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435272304 and additionally explored and provided a patch that implements the API described in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435272907.  I commented that I'm not certain which strategy will be better.

[2018-11-02 19:53] zepumph commented on #52
Part of the "thoughtful" api process is already looking through studio to make sure that things "look good." It seems reasonable to add whether or not an item "needs" a control to that list of checks we do for all instances in studio.

[2018-11-02 20:02] zepumph commented on #80
I think I like the commit more than the patch. I think we should add documentation on what keys are supported, i.e. right now it is just the three NodeIO properties, but in the future could be more, and thus should be documented as such.

With that documentation we could also keep track of the "allowed" keys in phetioObject and validate that there aren't incorrect keys.

That seems a bit preferabl

[2018-11-02 22:13] pixelzoom commented on #80
I'm not totally clear on what path we're going down here.

Here's an example for SCENERY/Text, whose IO type is TextIO.  The example shows all of the possible IO Properties that can be configured. This example reflects is my understanding of what we discussed in yesterday's phet-io meeting -- one `phetioComponentOptions`, with a key that corresponds to each IO Property name in the IO type hierarch

[2018-11-02 22:18] samreid commented on #80
There are two proposals on the table, one is `phetioComponentOptions` and one is e.g., `phetioVisiblePropertyOptions`.  @zepumph said he prefers the former.  Which do you prefer?

[2018-11-02 22:44] samreid commented on #80
Sounds good, let's ignore the patch in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435272907 and move forward with what is committed.  Right NodeIO and TextIO leverage it, but it not implemented to automatically handle arbitrary new sub components.

[2018-11-02 23:03] pixelzoom commented on #80
I don't follow.  To make this applicable to any IO type, `phetioComponentOptions` would be passed to the IO type's constructor, then propagated to is supertype's constructor. And each IO type in the hierarchy would access the key:value pairs that correspond to it's Properties.  Is that the way it's implemented? (Sorry, not in a place where I can pursue the implementation right now.)

[2018-11-03 00:39] zepumph commented on #80
For right now that seems ok.  Could you please comment on my proposal in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435492702 to provide some sort of validation/documentation in PhetioObject.

[2018-11-03 22:01] pixelzoom opened #101 "reconsider timeline for 1.0 release"
If wrapping up related PhET-iO work doesn't push us out to far, it would be desirable to publish with `brands=phet,phet-io`. So let's reconsider the timeline for 1.0 release.  The currently timeline includes completing code review and starting RC testing during the week of 11/5/18.

<details>
<summary>Slack conversation with @amanda-phet and @ariel-phet</summary>

11/2/18:

Chris Malley [9:51 AM]

[2018-11-05 19:03] pixelzoom commented on #52
Now that I've had time to look over https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-435391085...

For sims in general, I'm not clear on which of these is really needed (emitterControls especially).   So I can't tell whether "opt in" or "opt out" would be best.

For sim-specific controls, "opt in" is clearly the better choice.  Below I've taken all of the sim-specific control

[2018-11-05 19:15] pixelzoom commented on #52
I added counts to the above list.   Of the 95 controls related to `graphingQuadratics.exploreScreen`, only 22 of them (23%) are desirable in Studio.

[2018-11-05 19:16] pixelzoom commented on #14
I think we can close this now.

[2018-11-05 19:16] #14 closed

[2018-11-05 19:30] pixelzoom commented on #101
@samreid @zepumph when do you anticipate that all blocking PhET-iO work will be completed?

[2018-11-05 20:19] chrisklus commented on #98
I reran `grunt find-duplicates` and confirmed that everything it printed was part of the no-op list in https://github.com/phetsims/graphing-quadratics/issues/98#issuecomment-435225405. Closing.

[2018-11-05 20:19] #98 closed

[2018-11-05 20:55] pixelzoom commented on #52
Advantages to omitting controls from Studio:
* the number of controls becomes less overwhelming, more consumable
* we can provide controls for the specific things that we want the client to control
* the client may be less likely to attempt configuration of things that don't have a control in the sim or Studio

[2018-11-05 22:15] samreid commented on #52
Sounds good. So is the next step to make `phetioStudioControl` opt-in and make sure PhetioObjects specify this value according to https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-435995304 ?  Anything else to do besides that?

[2018-11-05 22:33] pixelzoom commented on #52
Based on this one data point (`graphingQuadratics.exploreScreen`) it seems to make sense to opt-in for sim-specific components.  But what about common framework stuff (**General Controls** in https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-435391085), and how would opt in/out work?  Most of the framework stuff is opaque to sims, which only know about `Sim`.  I'd hate to see

[2018-11-05 22:38] samreid commented on #52
We would add `phetioStudioControl: true` as desired throughout joist.  This would not need to be passed around, it could simply be hard-coded at the appropriate points.  For example Sim.activeProperty would be created via:

[code]

@pixelzoom does this sound appropriate and reasonable to you?

[2018-11-05 22:41] pixelzoom commented on #52
That sounds OK if all sims have the same requirements for framework controls.  I'm not familiar enough with these to know whether that's the case.  If it's not the case, then sims would need a way to configure.

[2018-11-05 22:43] samreid commented on #52
I think that will get us a good long ways, and we may not need options to pass through for configuration at all.  If in the future we do need to pass through configuration, perhaps we can use the `phetioComponentOptions` strategy we proposed for https://github.com/phetsims/graphing-quadratics/issues/80

[2018-11-05 22:47] samreid commented on #101
We have a PhET-iO mini meeting scheduled for Wednesday Nov 7.  Hopefully by the end of that meeting we can give a reasonable time estimate.

[2018-11-05 22:48] pixelzoom commented on #52
@samreid asked:

Yes. Perhaps that should be tracked in a new phetio-specific issue?

And not the I'm aware of.

[2018-11-05 23:35] pixelzoom commented on #82
An idea that might speed things up a bit on Edge... An equation on a line consists of 2 nodes - RichText to display the equation, and Rectangle to put a translucent background behind it. See `GQEquationFactory`.  Instead of creating new Nodes each time the equation changes (and doing `removeChild` and `addChild`), just modify `RichText.text` and `Rectangle.setRect`.

[2018-11-05 23:56] zepumph commented on #101
Currently searching for https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+user%3Aphetsims+label%3Adev%3Aphet-io+label%3Astatus%3Ablocks-publication yields 7 issues. 2 do not apply to GQ, 3 are up for review (already implemented), and 2 need work still. Potentially much of the work on the final two issues can be done on Wednesday. I agree that we will know more by Wednesday, but I wan

[2018-11-06 08:30] chrisklus commented on #43
Review complete. I've added a handful of review comments, but things are looking really good. Back to @pixelzoom to address review comments.

[2018-11-06 17:49] pixelzoom commented on #82
I suspect that Edge may be more sensitive to changes to the structure of the scenegraph.  So in the above commit, Nodes for equations are now mutated instead of being removed/added each time the interactive quadratic changes.

@KatieWoe @phet-steele:
Is the responsiveness on Edge improved in [1.0.0-dev.44](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.44/phet/graphing-quadratics

[2018-11-06 17:51] pixelzoom commented on #80
After @samreid responds to @zepumph's question in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435546924, we can probably close this issue.

[2018-11-06 18:02] KatieWoe commented on #82
@pixelzoom it looks much better.  The sliders drag behind the mouse just a tad, but the frame rate is much, much better.

[2018-11-06 18:17] pixelzoom opened #102 "equations can go off the graph"
This snuck in with the optimization in #82, reported by @phet-steele via Slack.

The equations can now go off the graph.  For example, on the _Explore_ screen, @phet-steele reported:

See screenshot below.

This problem occurs in 1.0.0-dev.44 (after optimization)., but not in 1.0.0-dev.43 (before optimization).

![image](https://user-images.githubusercontent.com/3046552/48084545-42bfdb00-e1b5-11e8

[2018-11-06 18:36] pixelzoom opened #103 "duplication of phetioDocumentation"
Related to #43 code review.  @chrisklus added these 2 `REVIEW` comments that I think are worthy of their own issue.   They are both concerned with duplication of documentation for the NumberProperties related to equations.

StandardFormModel.js

[code]

VertexFormModel.js

[code]

[2018-11-06 19:00] pixelzoom commented on #103
The duplication wasn't specific to the Properties identified above.  Other than the symbol (a, h, k), the documentation wording is identical.  And in the case of h and k, it's incorrect to call them "coefficients".  So rather than addressing specific Properties, this needed to be addressed more broadly.

In the above commit, I factored out a pattern that is used for the all `phetioDocumentation` r

[2018-11-06 19:18] pixelzoom commented on #102
This appears to occur only for the equation that corresponds to the interactive equation. Equations for the quadratic terms are always on the graph.

[2018-11-06 19:19] pixelzoom commented on #102
This appears to occur only for the equations that correspond to the interactive curve and the saved curve. Equations for the quadratic terms are always on the graph.

[2018-11-06 19:41] pixelzoom commented on #82
Disregard the 5 commits immediately above. They should be associated with #102.

[2018-11-06 22:06] pixelzoom commented on #102
Fixed in https://github.com/phetsims/graphing-quadratics/commit/3f7092ed46f324bf2caf60ae343bc0a768ac75e7.  @phet-steele please verify in [1.0.0-dev.45](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.45/phet/graphing-quadratics_en_phet.html).

[2018-11-07 05:02] pixelzoom commented on #55
Reopening.  During code review #43, @chrisklus added this REVIEW comment to VertexFormViewProperties:

[code]

Since this issue apparently won't die, I'm going to cave in and make what I consider to be a bad tradeoff.   Standby.

[2018-11-07 05:12] samreid commented on #80
In the preceding commits, I declared and checked `phetioComponentOptions` against a whitelist as @zepumph indicated in https://github.com/phetsims/graphing-quadratics/issues/80#issuecomment-435492702.  @zepumph can you please review and close if all is well?

[2018-11-07 05:16] pixelzoom commented on #55
In the above commit, I changed the semantics of GQViewProperties.  Instead of containing Properties that are common to _all screens_, it now contains Properties that are common to _more than one screen_.   Any Property that is optional (e.g. `vertexVisibleProperty`) is instantiated only if an initial value is provided via options.  This implementation removes duplication without resorting to a con

[2018-11-07 05:17] pixelzoom commented on #55
I should also mention that a casualty of this change was the `checkAll` query parameter, which I found to be very useful during development.   But it wasn't worth the effort to make it survive this refactor.

[2018-11-07 05:55] pixelzoom commented on #82
It sounds like performance is now acceptable.  But I'd like to see with my own eyes, so I'll leave this open and have a look at @KatieWoe's Edge test machine on Thursday.

@amanda-phet Since the lead designer needs to sign off on performance (see #48), it would be good to get your input on this issue.  When you're in the office, please test drive 1.0.0-dev.44 (or higher) on @KatieWoe's Edge test m

[2018-11-07 19:30] chrisklus commented on #80
Reviewed by @zepumph, @samreid, and @chrisklus. Closing.

[2018-11-07 19:30] #80 closed

[2018-11-07 20:37] samreid commented on #52
In discussion, @zepumph indicated that using `phetioStudioControl` to e.g., eliminate all of the opacity controls is a misuse of the `phetioStudioControl` option--tasks like that should be addressed with proper design of the Studio interface, which will be accomplished in https://github.com/phetsims/phet-io-wrappers/issues/143.

By that same token, @zepumph recommends that phetioStudioControl shou

[2018-11-07 20:48] samreid commented on #55
@chrisklus, @zepumph and I touched base on this issue during PhET-iO meeting.  We concluded that this is more of a proper Code Review issue and no longer something solely for PhET-iO, so I'll remove that label and let @chrisklus and @pixelzoom proceed at their convenience.

[2018-11-07 20:50] pixelzoom commented on #52
Strongly disagree.  We did a PhET-iO for this sim.  There was zero need to change opacity.  And we currently have zero ability to limit access to opacity or remove associated controls from Studio.

Strongly disagree. That would be fine if the controls behaved the same in both the sim and Studio.  But that's not the case for all controls, and that's a huge problem (especially for sliders).

Again,

[2018-11-07 22:33] samreid commented on #52
Since that design meeting, we have had subsequent discussions about the importance of a uniform API over a sparse API.  Also, at today's PhET-iO meeting, we discussed that when making objects unpickable, it is sometimes also valuable to make them semi-transparent as a cue that they are disabled.

The newly introduced feature `phetioComponentOptions` can be used to propagate options like `phetioStu

[2018-11-07 22:49] samreid commented on #101
We made a lot of progress today, perhaps we can touch base at 10am PhET-iO meeting on Wed Nov 8 and make sure everything is all set.

[2018-11-07 23:28] samreid commented on #52
It was assigned to you after https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-436768693 to get your feedback.  You provided feedback in https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-436772543 which I responded to in https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-436802479.  I'm equally happy to continue discussing here or wait

[2018-11-08 05:30] chrisklus commented on #103
Looks really nice @pixelzoom, I like the fill-in approach you used. Ready to close.

[2018-11-08 17:03] pixelzoom commented on #82
@amanda-phet and I tested on @KatieWoe's Edge machine.  With the performance improvements made in 1.0.0-dev.44, the sim's responsiveness is more than acceptable.

[2018-11-08 17:03] #82 closed

[2018-11-08 17:06] #103 closed

[2018-11-08 17:06] #55 closed

[2018-11-08 18:54] pixelzoom commented on #102
@KatieWoe would you mind testing this?

[2018-11-08 19:05] pixelzoom commented on #101
11/8/18 phet-io meeting notes:

All phet-io issues are in a state that we could use for GQ 1.0, so proceed.

We'll do things in this order:
* memory leak testing for brands=phet-io, see #50
* dev test brands=phet-io
* RC test brands=phet,phet-io

[2018-11-09 01:16] zepumph opened #104 "Rename PHETIO -> PHET_IO in constants"
As part of https://github.com/phetsims/phet-io/issues/1361, we decided that "PhET-iO" named as a constant should be "PHET_IO".

There are multiple usages in this sim.

[2018-11-09 01:19] zepumph commented on #104
Please review @pixelzoom

[2018-11-09 16:15] pixelzoom opened #105 "factor out IO type constants"
In light of how IO types increase memory footprint (see https://github.com/phetsims/tandem/issues/71), consider factoring out these sim-specific `phetioTypes` values:

[code]

[2018-11-09 16:27] pixelzoom opened #106 "re-test memory footprint (brand=phet)"
In light of https://github.com/phetsims/tandem/issues/71 and #105, memory footprint should be re-tested before RC testing starts.

For comparison, the previous tests are in https://github.com/phetsims/graphing-quadratics/issues/49.

I believe that the previous tests were done _before_ IO types were moved to tandem (which caused huge bloat, see https://github.com/phetsims/tandem/issues/71).  So I'm

[2018-11-09 16:33] pixelzoom commented on #104
Typical relationship between constants and variables is to insert underscores in constants where camelcase occurs in var names.  E.g.  `myBigFatWedding` and `MY_BIG_FAT_WEDDING`.   What you've done here violates that convention.  It should be either `phetioDocumention` and `PHETIO_DOCUMENTATION`, or `phetIoDocumentation` and `PHET_IO_DOCUMENTATION`.   That said...

Back to @zepumph, so that you're

[2018-11-09 16:52] pixelzoom opened #107 "factor out constants for option and var values"
Some option and var values that could be factored out as constants.  Cumulatively these might make a bit of a difference in memory footprint.

More that 1 instance of these is created (number of instances in parens):

- [x] AxisOfSymmetryNode (2): font
- [x] CoefficientSlider (6): map, inverseMap, tickValues, trackSize, thumbSize
- [x] CoordinatesNode (14): font
- [x] GQCheckbox (19): font
- [x] G

[2018-11-09 23:38] pixelzoom commented on #105
We should also discuss ways to prevent such constants from being mutated.  E.g. the pattern used for Vector2.ZERO.

[2018-11-09 23:45] pixelzoom commented on #105
Before factoring out IO types, startup heap size = 44.2MB, 2 minutes heap size = 51.5 MB.  Chrome 70.0.3538.77 + macOS 10.11.6.

[2018-11-10 00:09] pixelzoom commented on #105
Mentioning @samreid, since we had discussed the potential benefit of this on Slack, in relation to phetsims/tandem#71.

I tried factoring out constants for the `phetioType` values identified in https://github.com/phetsims/graphing-quadratics/issues/105#issue-379225624.  Here are the heap snapshots on Chrome 70.0.3538.77 + macOS 10.11.6, before and after factoring out these constants.

Time (minute

[2018-11-10 00:09] #105 closed

[2018-11-10 00:13] pixelzoom commented on #107
Before refactoring, startup heap size = 44.2MB, 2 minutes heap size = 51.5 MB. Chrome 70.0.3538.77 + macOS 10.11.6.

[2018-11-10 00:34] pixelzoom commented on #107
Mentioning @samreid, since we had discussed the potential benefit of this on Slack, in relation to phetsims/tandem#71.

I tried factoring out constants for the default option values identified in https://github.com/phetsims/graphing-quadratics/issues/107#issue-379240254.  I did only the ones that are checked, since there are single instances of the other classes.  Here are the heap snapshots on Ch

[2018-11-11 16:49] pixelzoom commented on #107
Reopening.  I think I might commit some of this anyway.

[2018-11-12 18:58] #107 closed

[2018-11-12 19:38] pixelzoom commented on #52
In the above commit, I fixed the application of `phetioStudioControl: false`.  It is now applied only to `aProperty` in the _Explore_ screen, and `pProperty` in the _Focus & Directrix_ screen.  These are the only NumberProperty instances whose associated sliders have special constraints. And I verified that everything works as expected in Studio with `phet-io-wrappers/studio/?sim=graphing-quadrati

[2018-11-12 19:41] pixelzoom commented on #52
Assigning to @samreid and @zepumph to determine the root cause of the "reentry detected" problem.

To remind you where we were on 10/12/18 in https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-429478658:

[2018-11-12 19:45] pixelzoom commented on #52
The workaround for this is to set `phetioStudioControl: false` for all NumberProperty instances that are controlled by sliders. What's different is our conclusion that this was necessary because there are special contains on these NumberProperties. That's the case for `aProperty` and `pProperty` only.

[2018-11-12 19:52] pixelzoom commented on #101
We are now blocked by https://github.com/phetsims/phet-io/issues/1411.

[2018-11-12 20:14] pixelzoom commented on #104
I've added `phetioComponentOptions: DEFAULT_PHET_IO_COMPONENT_OPTIONS` using the recommended naming convention.

[2018-11-12 20:30] zepumph commented on #104
Anything else here @pixelzoom?

[2018-11-12 20:38] #104 closed

[2018-11-12 21:38] pixelzoom commented on #52
So… Studio sets a NumberProperty (let’s say `bProperty`) to a value that is not an interval.  CoefficientSlider sees the new `bProperty` value and (because of the DynamicProperty mapping) rounds `bProperty`’s value to the interval and then does a reentrant set of `bProperty` to the new value.  Is that the hypothesis for why there's a problem in Studio but not in the sim?

[2018-11-12 22:01] pixelzoom commented on #52
Slack discussion with @samreid:

[2018-11-12 22:01] pixelzoom commented on #52
Slack discussion with @samreid:

Chris Malley [2:32 PM]
OK, I’ll look at it later then.

So… Studio sets a NumberProperty (let’s say `bProperty`) to a value that is not an interval.  CoefficientSlider sees the new `bProperty` value and (because of the DynamicProperty mapping) rounds `bProperty`’s value to the interval and then does a reentrant set of `bProperty` to the new value.  Is that the hypo

[2018-11-12 22:12] pixelzoom commented on #52
Above I said:

I went with that approach.  After the above commit...

These NumberProperty instances are controlled via NumberPickers in the sim, and generic sliders in Studio (`phetioStudioControl: false`):

[code]

These NumberProperty instances are controlled via CoefficientSliders in the sim, and are not controllable in Studio:

[code]

@samreid does that seem reasonable?

[2018-11-13 20:10] rea-laura commented on #85
Also found in https://github.com/phetsims/QA/issues/219
Device: Schrodinger
OS: Windows 8.1
Browser: Internet Explorer 11.0.9600.19155
Only occurs in query parameter ?rtl - all other queries normal.

[2018-11-14 15:28] pixelzoom commented on #52
@samreid asked:

The values are not currently forbidden by the model in any way.  Their rounding to intervals is a symptom of the bidirectional `DymanicProperty` that is used in `CoefficientSlider`.

[2018-11-14 16:44] samreid commented on #52
It seems there should be a way for Slider to set rounded values and show rounded values without requiring a re-entrant Property.

[2018-11-14 17:04] pixelzoom commented on #52
The issue is not with Slider.  The issue is with the DynamicProperty in CoefficientSlider that is used to provide custom tapers (e.g. the quadratic taper for QuadraticCoefficientSlider).

[2018-11-14 17:07] pixelzoom commented on #52
... and the fact that `map`, `inverseMap`, `constrainValue` and `interval` options are all (necessarily) intertwined.

[2018-11-14 19:07] samreid opened #108 "p slider is jumpy around 0"
@chrisklus and I were investigating https://github.com/phetsims/graphing-quadratics/issues/52#issuecomment-438747617 and discovered that the p slider is jumpy around 0.  Note that in each case I am moving the mouse smoothly and in one direction.

![slider-knob](https://user-images.githubusercontent.com/679486/48505634-c193c400-e804-11e8-9b14-fe233a62f369.gif)

Note the quadratic itself also jumps:

[2018-11-14 19:41] pixelzoom commented on #108
A similar (but not identical) issue was reported in https://github.com/phetsims/graphing-quadratics/issues/76, and decided to not be a problem.  But in this case, it looks like it's trying to snap while dragging instead of snapping on endDrag.  I'll investigate.

[2018-11-14 21:14] pixelzoom commented on #108
Oh wait... While snap-to-zero was indeed in the wrong place, this is not a snap-to-zero issue.  This is related to 'skip zero', which is specific to the 'p' slider.   Back to me.

[2018-11-14 22:47] pixelzoom commented on #108
@samreid Were the GIFs in https://github.com/phetsims/graphing-quadratics/issues/108#issue-380843752 by any chance created on a large monitor?

[2018-11-14 22:49] pixelzoom commented on #108
@samreid I noticed that the second sentence of https://github.com/phetsims/graphing-quadratics/issues/108#issue-380843752 doesn't end with punctuation and seems like an obvious statement:

Was there more to this sentence that got lost?

[2018-11-14 22:50] samreid commented on #108
DELL SP2309W Display 23-inch (2048 x 1152).  Same problem on my bulit-in laptop display 15.4-inch (2880 x 1800)

[2018-11-14 23:21] pixelzoom commented on #106
Test results for:

* [1.0.0-dev.46](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.46/phet/graphing-quadratics_en_phet.html) with `?fuzzMouse`
* Chrome 70.0.3538.102
* macOS 10.11.6

| Minutes | Heap Size (MB) |
| --- | --- |
| 0 |  |
| 5 |  |
| 10 |  |
| 15 |  |
| 20 |  |
| 25 |  |
| 30 |  |

[2018-11-15 00:13] #106 closed

[2018-11-15 00:14] pixelzoom commented on #50
Test results for:

* [1.0.0-dev.46](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.46/phet-io/) with `?fuzz`
* Chrome 70.0.3538.102
* macOS 10.11.6 on MacBook Pro

| Minutes | Heap Size (MB) |
| ---: | ---: |
| 0 |   |
| 5 |   |
| 10 |   |
| 15 |   |
| 20 |  |
| 25 |  |
| 30 |  |
| 45 |  |

[2018-11-15 00:34] chrisklus commented on #108
I'm able to reproduce on my MBP as well. With a trackpad, click near 0 and then roll your finger over 0 and it's jumpy. I'm also seeing the same symptom when doing this with the focus manipulator.

[2018-11-15 01:08] pixelzoom commented on #50
For comparison, the latest `brand=phet` memory tests are in https://github.com/phetsims/graphing-quadratics/issues/106.

Test results for `brand=phet-io`:

* [1.0.0-dev.46](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-dev.46/phet-io/graphing-quadratics_all_phet-io.html?phetioStandalone) with `?standalone&fuzz`
* Chrome 70.0.3538.102
* macOS 10.11.6 on MacBook Pro

| Minutes | Heap

[2018-11-15 01:08] #50 closed

[2018-11-15 17:33] samreid commented on #52
It seems the best long term solution is for Slider.js to support nonlinear mapping.  For instance, imagine if Graphing Quadratics was designed to have tick labels for aSlider at +/-6, and we want to use `Slider.addMajorTick`.  Then `Slider.valueToPosition` should support arbitrary mappings.  That would also solve the problem in this simulation by eliminating the 2 auxiliary Properties.

[2018-11-15 18:34] samreid commented on #52
@ariel-phet says it would be nice to have nonlinear support in a slider.
@jonathanolson points out that this may or may not solve the re-entry problem in Graphing Quadratics.
@samreid will create a Sun issue for this.
@jessegreenberg points out that this could be tricky for a11y because native html sliders must be linear.
Further investigation suggested that a11y already had reasonable support for

[2018-11-15 18:38] samreid commented on #52
@jonathanolson points out we are also using DynamicProperty to deal with nonlinear scaling in ConcentrationSlider which uses NumberControl

[2018-11-15 18:41] samreid commented on #52
@ariel-phet advocated for 10 hours to investigate generalizing Slider.

[2018-11-15 18:52] samreid commented on #52
@chrisklus and @samreid also investigated a data-flow branch in hookes-law, which introduced UserControlledProperty to control data flow directionality.

[2018-11-15 19:40] pixelzoom commented on #108
There was a comparison operator that was inverted in both CoefficientSlider and FocusManipulator, fixed in the above commit (with a bit of additional cleanup in CoefficientSlider).

@chrisklus could you please verify in master?

[2018-11-15 19:46] chrisklus commented on #108
Looks great. I tested with the slider and manipulator and am no longer seeing the problem. Ready to close.

[2018-11-15 19:52] #108 closed

[2018-11-15 20:30] pixelzoom commented on #52
Investigation of non-linear support for Slider is moved to https://github.com/phetsims/sun/issues/417.

[2018-11-15 22:25] zepumph opened #109 "graphingQuadratics.exploreScreen.view.equationAccordionBox.saveEraseButtonGroup isn't under "content" Tandem"
Why are aProperty and other letters under the accordionBox content but this group is not?

UPDATE: I mean aSlider

[2018-11-15 22:49] pixelzoom commented on #109
@zepumph please clarify.  `aProperty` and "other letters" are not under accordionBox, they are part of the model and are therefore under `graphingQuadratics.exploreScreen.model`, e.g.:

`graphingQuadratics.exploreScreen.model.aProperty`

As for `graphingQuadratics.exploreScreen.view.equationAccordionBox.saveEraseButtonGroup`... Is the convention to put everything under `equationAccordionBox.conten

[2018-11-15 22:53] pixelzoom commented on #109
OK, I think I've figured out what you're reporting.  By `aProperty`, you actually mean `aSlider`, e.g.:

`graphingQuadratics.exploreScreen.view.equationAccordionBox.content.aSlider`

And you're saying that the phetioID for `saveEraseButtonGroup` should be:

`graphingQuadratics.exploreScreen.view.equationAccordionBox.content.saveEraseButtonGroup`

Have I interpreted that correctly?

[2018-11-15 23:31] pixelzoom commented on #109
@zepumph and I discussed on Slack.   It's problematic to have `equationAccordionBox.contentNode` because the base class (`GQEquationAccordingBox`) and the subclass (e.g. `ExploreEquationAccordingBox`) each create a piece of the content, which is then assembled in `GQEquationAccordingBox`.   So we'll be leaving `contentNode` out of the phetioIDs, and the phetioIDs under `equationAccordionBox` will

[2018-11-15 23:35] pixelzoom commented on #109
@samreid @chrisklus FYI.  Please review the above comment/conclusion.  Any feedback?

[2018-11-16 01:45] pixelzoom commented on #52
This issue appears to be caused by a bug in bidirectional `DynamicProperty`.  See https://github.com/phetsims/axon/issues/197#issuecomment-439252158 and https://github.com/phetsims/axon/issues/197#issuecomment-439253209.

[2018-11-16 02:33] samreid commented on #109
The proposed tandems in https://github.com/phetsims/graphing-quadratics/issues/109#issuecomment-439228255 sound reasonable

[2018-11-16 20:48] #109 closed

[2018-11-16 20:54] pixelzoom opened #110 "rename Slider subclasses"
After #52 is closed, since that issue refers to these class names a lot ...

Slider subclasses `CoefficientSlider` and `QuadraticCoefficientSlider` are a bit misnamed.  While they control coefficients (a,b,c) in the _Explore_ screen, they are controlling things that are technically not coefficients (p,h,k) in the _Focus & Directrix_ screen.   So consider this renaming:

`CoefficientSlider` -> `GQS

[2018-11-16 20:57] pixelzoom opened #111 "create screenshots"
This issue tracks creation of the primary and alternate screenshots.  Primary screenshot is a prerequisite to publishing 1.0.

[2018-11-17 15:43] samreid opened #112 "apply phetioFeatured"
In https://github.com/phetsims/graphing-quadratics/issues/14#issuecomment-424045119 we identified the PhET-iO features we wanted to support for this sim.  In https://github.com/phetsims/phet-io-wrappers/issues/143 we introduced a new PhetioObject option to indicate featured instances.  We should identify them as such:

- [x] toggle visibility of the equation that appears above sliders
- [x] disabl

[2018-11-17 20:13] pixelzoom commented on #112
Is this a prerequisite for 1.0 release?

[2018-11-17 20:35] pixelzoom commented on #112
Looking through the above commits, https://github.com/phetsims/sun/commit/44e0a692e891d3e64bb10576de014f754b028bb4 is a bit of a red flag.  It adds Slider option `enabledPropertyOptions`, which is ignored if the client sets option `enabledProperty`.   We have lots of places in common code where a component instantiates a default Property if the client does not provide one. Will we need to use this

[2018-11-17 22:53] samreid commented on #112
This was addressed in the initial comment where it says "This is not essential for 1.0."

The new version of studio (in the branch referred to in https://github.com/phetsims/phet-io-wrappers/issues/143 has an option to only show "Featured" items.

We should add checks that `enabledPropertyOptions` and `enabledProperty` options are mutually exclusive.

Perhaps we would need to use this pattern for

[2018-11-18 23:20] pixelzoom commented on #112
I'll make related Slider improvements in https://github.com/phetsims/sun/issues/418.

[2018-11-19 17:12] pixelzoom commented on #101
1.0 release (and further work on #52) is now blocked by https://github.com/phetsims/axon/issues/197, assigned to @jonathanolson.

[2018-11-22 00:09] samreid opened #113 "branch: studioc"
In discussion on slack, we determined it would be nice to publish a one-off version of Graphing Quadratics with the new phet-io-wrappers studio branch.

Chris Malley [8:27 AM]

This is the required branch issue for creating a one-off branch.

We can delete this branch when phet-io-wrappers/studioc is merged to master, see https://github.com/phetsims/phet-io-wrappers/issues/202

[2018-11-22 00:37] samreid commented on #113
We published a phet-io one-off version here, which shows the new studio branch: https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-studioc.1/phet-io

[2018-11-26 20:40] jonathanolson commented on #101
https://github.com/phetsims/axon/issues/197 should be resolved.

[2018-11-27 00:34] samreid opened #114 "What is the advantage of GQViewProperties.equationAccordionBoxExpandedProperty?"
On slack, @kathy-phet reported:

Kathy Perkins [3:26 PM]
I have a scenario I am running with the Studio, and am wondering what I am missing (as I don't see how to access this). Scenario: See the value and change the state of the accordian box for the equation from open to closed? I can see where I read out the value of the accordian box. I would expect to see it in the view tree here:

![image](ht

[2018-11-27 00:34] samreid commented on #114
I replied:

That is a property that was developed in the “viewProperties” here:

![image](https://user-images.githubusercontent.com/679486/49050648-906ea880-f1a1-11e8-8294-7709f0b04d11.png)

[2018-11-27 00:35] samreid commented on #114
@kathy-phet said:

@samreid - OK, I see it there, but I wouldn't think to look there for this value/control. I assume there is some architectural reason its not under the Equation Accordian Box itself? Can you explain? Similar question re all of the values of the checkboxes in the Quadratic Terms accordian box

[2018-11-27 00:35] samreid commented on #114
I replied:

The default is for AccordionBox to create its own `expandedProperty` (which would show where you indicated).  Most likely @pixelzoom had some reason for providing an alternate value defined elsewhere.  We should discuss with him to learn more. (edited)

[2018-11-27 00:40] samreid commented on #114
I checked usages of `equationAccordionBoxExpandedProperty` and it looks like the main purpose is for resetting. Is that accurate?  If we added `AccordionBox.reset()`, then would this implementation work properly?  This diff shows: removing `expandedProperty: viewProperties.equationAccordionBoxExpandedProperty,` from each screen, deleting `this.equationAccordionBoxExpandedProperty = new BooleanProp

[2018-11-27 17:36] pixelzoom commented on #114
Advantages of `GQViewProperties.equationAccordionBoxExpandedProperty`:

* All Properties that are specific to the view are in one place, where they can be easily reset.  You don't have to drill down into UI components to find Properties.
* Since all view Properties are in one place, it's less likely to introduce "Reset All" bugs, and easier to correct such bugs.
* There is no need to implement (an

[2018-11-27 17:38] pixelzoom commented on #114
One more point... @kathy-phet said she expected the Property to be under `exploreScreenView.view.equationAccordionBox.expandCollapseButton`.  @samreid's proposal doesn't put it there; it puts it under `exploreScreenView.view.equationAccordionBox`.  So using AccordionBox's default `expandedProperty` really does nothing to address what was reported.

[2018-11-27 17:44] pixelzoom commented on #114
In @kathy-phet's original report, she also said:

So I think that this issue is actually a conceptual problem with how PhET sims are implemented using MVC.

[2018-11-27 17:45] pixelzoom commented on #114
In @kathy-phet's original report, she also said:

So I think that this issue is actually a conceptual problem with how PhET sims are implemented using MVC.  Because we would never consider making a Checkbox the owner of the Property that controls its state.

[2018-11-27 17:49] pixelzoom commented on #114
Relevant comment by @samreid in Slack phet-io channel:

Absolutely not, this is unnecessary/undesirable coupling.

If we are consistent in encapsulating view Properties, this is imo unnecessary.  It's also more undesirable complexity.

[2018-11-27 20:00] pixelzoom commented on #52
DynamicProperty still has some behavior that I don't understand, see https://github.com/phetsims/axon/issues/197#issuecomment-442191735.  But I've moved forward with related changes in this sim, see above commits.   `pProperty` is now the only NumberProperty that does not have an associated slider in Studio.

[2018-11-27 20:10] pixelzoom commented on #112
After today's PhET-iO dev call with @kathy-phet, the decision was made to rollout Graphing Quadratics 1.0 with the redesigned Studio that has the "Featured" feature.  So this issue needs to be completed.  Priority raised to high.

[2018-11-27 20:12] pixelzoom commented on #101
After today's PhET-iO dev call with @kathy-phet, the decision was made to rollout Graphing Quadratics 1.0 with the redesigned Studio.  So that will push the schedule out further.  No idea when we'll start the QA process. The way things are going, I'll be pleasantly surprised if this sim is published before the end of the year. @ariel-phet @amanda-phet FYI.

[2018-11-27 20:42] kathy-phet commented on #101
@pixelzoom - It sounded like a decision had already been made to publish PhET-iO 1.0 at the same time as graphing quadratics regular. We decided that we should at least fix the hierarchy in the sim, adding the .general. code structure before publishing so the PhET-iO version wouldn't have that breaking, but I don't think  all of PhET-iO Studio should block publication.

[2018-11-27 21:08] pixelzoom commented on #52
There are now zero uses of `reentrant: true`, and `pProperty` is the sole NumberProperty that is `phetioStudioControl: false` (see `FocusAndDirectrixModel`).  Tested in Studio.

@samreid please review. Close if all work is done.

[2018-11-27 21:22] pixelzoom commented on #110
Done, closing.

[2018-11-27 21:22] #110 closed

[2018-11-27 22:37] samreid commented on #112
What are the "manipulators"?

[2018-11-27 22:50] pixelzoom commented on #112
Gross.

[2018-11-27 22:52] samreid commented on #112
Oh wait, there is a more palatable established pattern for this case... Hold for commits.

[2018-11-27 22:58] samreid commented on #112
This is instrumented but not "featured".  But the associated model properties are already featured.  It is really important to feature the slider input listener?  If we do make the slider thumb drag handler featured, do we also want to make other slider input listeners featured, such as clicking in the track?

[2018-11-27 23:07] samreid commented on #52
Looks good, thanks, closing.

[2018-11-27 23:07] #52 closed

[2018-11-28 00:31] pixelzoom opened #115 "verify PhET-iO instrumentation"
In today's PhET-iO Zoom call, we discussed the process for testing `brand=phet-io`. The consensus was that the lead designer should verify that the implementation matches what was decided during PhET-iO design. And that verification should be done before passing the sim to QA for PhET-iO dev/RC testing.

The exact process for doing this needs to be determined, and will require consultation/pairing

[2018-11-28 00:33] pixelzoom commented on #115
Labeling with high priority, since this is a prerequisite to dev testing.

[2018-11-28 00:36] pixelzoom commented on #114
Since this wasn't a point of discussion during today's PhET-iO call, I'm guessing that we can close this with no changes.  @samreid is that also your conclusion?

[2018-11-28 00:46] pixelzoom commented on #101
Publishing brand=phet and brand=phet-io 1.0 at the same time was a goal from the beginning of development. When the list of phet-io issues was long, we briefly considered publishing brand=phet only. When progress was made on PhET-iO issues, we reconsidered. And that reconsideration is the topic of this issue, from line 1 of the first comment:

That was 24 days ago, and we've started to diverge aga

[2018-11-28 00:49] kathy-phet commented on #112
@samreid and @pixelzoom - I'm feeling like this list is what we wanted to instrument for this sim, but not necessarily what we might want to feature? Feature seems like it would be the most basic set of things we would imagine someone wanting to do. Some of these were for "advanced use" cases. I'm starting to feel like a PhET-iO design includes both the full brainstorm and then the "what should be

[2018-11-28 00:51] pixelzoom commented on #112
Agreed.  But the concept of "featured" didn't exist when the PhET-iO design was done.  Suggestions on how to proceed?  Can what is "featured" be reviewed/revised as part of the general PhET-iO review to be done in https://github.com/phetsims/graphing-quadratics/issues/115?

[2018-11-28 00:53] kathy-phet commented on #112
Is there space in Design Meeting this week to refine the list for "featured"?

[2018-11-28 00:58] pixelzoom commented on #112
The first thing would be to make sure that @amanda-phet is aware that the "Featured" feature exists, so she has some time to think about it.   As far as I know, she has been out of the loop.

[2018-11-28 02:18] samreid commented on #113
Merged to master, closing.

[2018-11-28 03:13] amanda-phet commented on #112
Thanks for looping me in, @pixelzoom ! I'm happy to have a design meeting about this. Is this the first sim that has a featured list? If so, we might want to invite Amy as well so we can both learn more about PhET-iO design (since we are responsible for contributing to these kinds of decisions).

[2018-11-28 05:13] kathy-phet commented on #112
Yes, first sim with a featured list.
Kathy

Sent from my iPhone

On Nov 27, 2018, at 8:14 PM, Amanda McGarry <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for looping me in, @pixelzoom<https://github.com/pixelzoom> ! I'm happy to have a design meeting about this. Is this the first sim that has a featured list? If so, we might want to invite Amy as well so we can both l

[2018-11-29 04:30] samreid commented on #115
We'll cover this in a meeting on Thursday

[2018-11-29 04:34] samreid commented on #114
We did cover this topic during Tuesday's call (before you arrived).  We need the ability to support passed-in Properties for data (like valueProperty) and metadata (like enabledProperty), so we are going to investigate symbolic links or the like for navigating them in the tree.

It's good that there will be consistency across Gas Properties and Graphing Quadratics, but I'm not aware that other dev

[2018-11-29 15:13] #114 closed

[2018-11-29 18:20] pixelzoom commented on #101
In 11/29/18 status meeting, @kathy-phet listed all of the sims that need to be published for the January deadline, and all of the other sims that are in the process of being republished.  We clearly have a logjam coming up in January.  So @kathy-phet made the decision that we will not publish a PhET-iO version for Graphing Quadratics 1.0. #115 (review PhET-iO API) can be deferred, dev testing is n

[2018-11-29 18:20] #101 closed

[2018-11-29 18:20] pixelzoom commented on #101
In 11/29/18 status meeting, @kathy-phet listed all of the sims that need to be published for the January deadline, and all of the other sims that are in the process of being republished.  We clearly have a logjam coming up in January.  So @kathy-phet made the decision that we will not publish a PhET-iO version for Graphing Quadratics 1.0. #115 (review PhET-iO API) can be deferred, dev testing is n

[2018-11-29 18:21] pixelzoom commented on #115
PhET-iO version has been deferred and will not be published with 1.0, see https://github.com/phetsims/graphing-quadratics/issues/101#issuecomment-442939061.  So this issue can be deferred.

[2018-11-29 18:58] pixelzoom commented on #71
In 11/29/18 phet-io meeting, there was a consensus that `GQViewProperties` and it's subclasses should have phetioDocumentation, so that doc like `'Properties that are specific to the view'` appears in Studio. This means that `GQViewProperties` should extend `PhetioObject`, and also set `phetioState: false`.

[2018-11-29 19:15] pixelzoom commented on #71
GQViewProperties was instrumented in the above commit, tested in Studio.

[2018-11-29 19:15] #71 closed

[2018-11-29 21:54] pixelzoom commented on #112
Reviewed/discussed a bit at 11/29/18 design meeting. But this should be revisited by @amanda-phet when it's time to publish the first PhET-iO version.

[2018-11-30 20:04] pixelzoom commented on #3
The sim is entering RC testing, time for @amanda-phet to catch up on checklist items, and complete the "pre-publication" items.

[2018-11-30 20:12] pixelzoom commented on #111
This sim is now in RC testing.  @amanda-phet please specify the configuration for the main screenshot.

[2018-11-30 20:13] pixelzoom commented on #4
This sim is now in RC testing.  @KatieWoe please provide names (as you want them to appear) for the QA credits.

[2018-11-30 20:15] pixelzoom commented on #3
@KatieWoe please completed this checklist item:

[2018-11-30 21:43] KatieWoe opened #116 "iOS 10 Crash"
**Device:**
iPad 4
**OS:**
iOS 10
**Browser:**
Safari
**Problem description:**
For https://github.com/phetsims/QA/issues/227.
After playing with the sim for ~10 minutes the sim crashed and reloaded.  The error message that appeared at the top the screen as the sim reloaded was "A problem occurred with this webpage so it was reloaded."  There was some minor lag in the minute or two before the crash

[2018-11-30 21:57] pixelzoom commented on #116
I don't see anything in the memory test results (https://github.com/phetsims/QA/issues/227#issuecomment-443350416) to suggest that we have a memory leak.   But it's not out of the question that the memory footprint (43MB startup, 54MB stabilize) could be the issue.

[2018-11-30 21:58] pixelzoom commented on #116
@KatieWoe Is this reproducible on other versions of iOS, or on any other platforms? Or is it specific to iOS 10?

[2018-11-30 22:02] KatieWoe commented on #116
I haven't yet, but I also haven't gotten it to reoccur on the iOS 10.  Ariel still has the iOS 12 device, so I can't test it yet as well.

[2018-11-30 22:08] pixelzoom commented on #116
[This article](https://blog.pcrisk.com/mac/12282-how-to-fix-a-problem-occurred-with-this-webpage-so-it-was-reloaded) outlines some steps for cleaning up your iOS device.  Scroll down to the "Basic steps to solve".   Can you try these (you might want to skip Reset Network Settings) to see if the problem goes away?  I know that on my old iPad2, Safari problems are sometimes cleared up by clearing hi

[2018-11-30 22:08] KatieWoe commented on #116
Update: Occurred again on iOS 10 on vertex form screen.

[2018-11-30 22:10] pixelzoom commented on #116
OK, so it's been reproduced on 1 screen with sliders (_Explore_) and 1 screen with pickers (_Vertex Form_), so it's not specific to sliders.

[2018-11-30 22:10] KatieWoe commented on #116
Yes.

[2018-11-30 23:07] pixelzoom commented on #116
@KatieWoe said in Slack:

20 or so minutes on iOS 11 and no signs of crash.  I'm going to go back to testing the iOS 10.  I did the steps in the article.  If it crashes again I'll let you know.  If it gets through the rest of the tests with no crash I'll let you know as well.

[2018-11-30 23:38] KatieWoe opened #117 "Improve drag behavior of "Point on Parabola""
Issue per @amanda-phet For https://github.com/phetsims/QA/issues/227
From slack:

This is also recently seen in Blackbody spectrum, though the curve was generally less sharp so the effect is less noticeable.

[2018-12-01 04:04] phet-steele commented on #117
@KatieWoe I do not see an issue for this in the blackbody-spectrum repo. Should we make one?

[2018-12-01 04:20] phet-steele commented on #88
There is a tiny bit of overlap here. It's not terrible, but hey it's my job to point it out:

![image](https://user-images.githubusercontent.com/5863899/49324158-9e943000-f4e5-11e8-85cd-364f5c0641d4.png)

Seen on Win 10 Chrome. For phetsims/QA/issues/227.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-rc.1/phet/graphing-

[2018-12-01 05:15] phet-steele opened #118 "Coordinate labels get off-center with their associated point"
There are countless similar ways to make this happen, but I picked a dramatic procedure that also illustrates that the coordinates node does not need to be explicitly visible to trigger this bug.

1. Fresh sim load, Standard Form screen. I picked this screen for the "illustrates that the coordinates node does not need to be explicitly visible" part since this screen starts with the vertex off. The

[2018-12-03 15:32] KatieWoe commented on #117
@phet-steele it didn't cause the same difficulties there so I didn't.  But it might be a good idea now that you mention it.  @DianaTavares since you're the designer for blackbody-spectrum, what do you think?  Do you want an issue for this?

[2018-12-03 16:27] pixelzoom opened #119 "[iOS9] crashes at startup"
For phetsims/QA/issues/227, caused by https://github.com/phetsims/joist/issues/539#issuecomment-443384951.

ES6 code snuck into one of the preloads, and preloads are not transpiled.  Mobile Safari on iOS9 does not support ES6, so the sim fails on startup.   The progress bar on the splash screen doesn't even begin to fill.

@KatieWoe FYI.  I'll have a new RC version sometime this morning.

[2018-12-03 16:58] pixelzoom commented on #119
% cd perennial
% grunt checkout-target --repo=graphing-quadratics --target=1.0
% cd tandem
% git checkout -b graphing-quadratics-1.0
% git cherry-pick 4336872f0c7c6e3571d99c4b1c9c36da39915ecc
% grunt
<test build, on Chrome desktop, and iOS9 Safari>
% git push origin graphing-quadratics-1.0
%

[2018-12-03 17:08] KatieWoe commented on #116
Have not seen this reoccur after restarting the device and clearing the the web history.  Closing per @pixelzoom.  Will reopen if problem resurfaces.

[2018-12-03 17:08] #116 closed

[2018-12-03 17:17] KatieWoe opened #120 "Reset All button pointer areas"
See phetsims/friction#65.  The pointer area for touch for reset all seems like it is meant to be a bit larger.  @pixelzoom and @amanda-phet to determine if this is appropriate.
For https://github.com/phetsims/QA/issues/227

[2018-12-03 17:32] pixelzoom commented on #120
As noted in https://github.com/phetsims/friction/issues/65#issuecomment-443796439:

So I'm going to push back hard on this one.

[2018-12-03 17:35] pixelzoom commented on #117
I think this can be improved in GQ, dragging vertically should also more the point. So I'm going to go for it.

[2018-12-03 17:43] pixelzoom commented on #120
Also... If we did want to dilate pointer areas for the Reset All button, that should be done uniformly in `SCENERY_PHET/ResetAllButton`, not in sim-specific code.

[2018-12-03 18:00] amanda-phet commented on #120
No need to do anything sim-specific for that button. As @pixelzoom said, the reset-all button should be very intentionally pressed and usually does not have a larger touch area. Also, I agree, this is a universal component that should have universal behavior- if we need a discussion about touch on small devices we should include Ariel and Kathy.

[2018-12-03 18:02] ariel-phet commented on #120
@pixelzoom I do think this is a tad sim specific. It is nice for the Reset All button to have a bit of dilation for the touch area in cases where no other interactive UI components are close (the Friction sim being a reasonable example).

I would be fine if we wanted to add a default dilation (it looks like what Sam pushed in friction was a bit of overkill), but there may be some cases where such

[2018-12-03 18:08] pixelzoom commented on #120
@ariel-phet This issue was not created because of any reported usability problem.  It was reported because of something done in another sim (Friction).   I agree that if there is a usability problem here, then it should be addressed.  But how is the current touchArea of the Reset All button not sufficient for this sim?  I have no problem clicking the Reset All button on any device, even my tiny An

[2018-12-03 18:20] ariel-phet commented on #120
@pixelzoom fair point. Was just looking at a few other sims, looks like in things like Masses and Springs the play/pause button is dilated to the default size of the Reset All button.

![massessprings](https://user-images.githubusercontent.com/4051174/49392837-dcaf7080-f6ec-11e8-8300-fef727f0ebca.PNG)

Furthermore, it looks like the line of request here came from Sam asking in code review if we sh

[2018-12-03 18:20] #120 closed

[2018-12-03 18:55] pixelzoom commented on #117
I've improved the drag behavior for the 'Point on Parabola'.  @KatieWoe @phet-steele @amanda-phet could you please test drive in master and provide feedback?   You can compare to [1.0.0-rc.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-rc.1/phet/graphing-quadratics_en_phet.html).

[2018-12-03 18:58] KatieWoe commented on #117
Testing on iOS 10, I think this looks much better.  Is this an adjustment to gq only, or will effect other sims with similar behavior?  Do you think this change should be made to those?

[2018-12-03 18:59] pixelzoom commented on #88
There's also a bit of overlap when "NO REAL ROOTS" has been moved above/below the x axis.  E.g.:

![screenshot_906](https://user-images.githubusercontent.com/3046552/49395136-eb008b00-f6f2-11e8-998a-66c8e5daa8b1.png)

[2018-12-03 19:05] pixelzoom commented on #117
@KatieWoe said:

Excellent, I think so too. More importantly, it _feels_ better. Thanks again for reporting.

This change is necessarily specific to GQ.

I'm not familiar with the other sims, so I'll defer to the designers of those sims.

[2018-12-03 19:21] KatieWoe opened #121 "dev bounds issues"
For https://github.com/phetsims/QA/issues/227.  Found by @arouinfar on macOS 10.13.6 and latest Chrome, but is much more noticeable and reproducible on an iPad in landscape mode.
The dev area from ?dev shows a different size box on the home screen than on the simulation screens.  How the size differs seems to depend on the size and shape of the window.  Either the area on the home screen will be s

[2018-12-03 19:21] pixelzoom commented on #88
The problem here is that 'NO REAL ROOTS' was simply centered on y=1 or y=-1 when it would overlap the vertex.  The above commit changes that, and positions 'NO REAL ROOTS' related to the vertex (2 units above or below vertex.y, depending on which way the parabola opens).

Below are some screenshots that demonstrate.

@phet-steele please review in master.

![screenshot_907](https://user-images.gith

[2018-12-03 19:23] pixelzoom commented on #88
@amanda-phet FYI, there has been a change to how overlap of vertex and 'NO REAL ROOTS' is handled. See above comment.

[2018-12-03 19:29] arouinfar commented on #121
@pixelzoom @amanda-phet it looks like the `?dev` boundary does not have the correct aspect ratio on the sim screens. On the Home screen, the `?dev` boundary matches published sims (such as EqEx).

EqEx:
<img width="1440" alt="screen shot 2018-12-03 at 12 25 32 pm" src="https://user-images.githubusercontent.com/8419308/49396568-b5f63780-f6f6-11e8-94e8-bb0552082215.png">

GQ Home Screen:
<img width=

[2018-12-03 19:38] pixelzoom commented on #121
The home screen issue is not specific to GQ, it's present in all sims. The bottom part of the dev bounds rectangle is chopped off in master.  Compare EqEx in master (top) vs published (bottom):

![screenshot_911](https://user-images.githubusercontent.com/3046552/49397215-34070e00-f6f8-11e8-851b-e060f086b73b.png)
![screenshot_912](https://user-images.githubusercontent.com/3046552/49397210-31a4b400-

[2018-12-03 19:44] arouinfar commented on #121
@pixelzoom I realize that `?dev` generally looks goofy on the home screen, but the changing width concerned me.

Compare `?dev` on EqEx (more transparent) to GQ. The GQ boundary is too narrow.
![image](https://user-images.githubusercontent.com/8419308/49397447-d8895000-f6f8-11e8-9f67-afca4a1559a2.png)

[2018-12-03 19:49] pixelzoom commented on #121
Thanks @arouinfar.  The home screen and sim screens are handled differently, and have totally different default layout bounds (home screen is ).  So I believe that we have 2 different issues here.

phetsims/joist#541 will deal with the home screen issue.  I suspect it's caused by recent home screen changes to add a11y sound and keyboard icons.

I have reproduced the discrepancy in sim screen dev b

[2018-12-03 20:01] KatieWoe commented on #88
It can be quite a bit more severe than shown.  On the Standard form screen, enter 5 for a, 4 for b, and 1 for c as an example (with vertex, coordinates, and roots selected)

[2018-12-03 20:02] KatieWoe commented on #88
![overlap](https://user-images.githubusercontent.com/41024075/49398463-bb09b580-f6fb-11e8-964b-696032d53e0f.PNG)

[2018-12-03 20:14] pixelzoom commented on #121
Re the home screen issue...  The consensus in https://github.com/phetsims/joist/issues/541 is that it affects only our internal `dev` feature, and does not need to be addressed in the Graphing Quadratics 1.0 release branch.  So we can close this issue.  If anyone objects, or has more questions, please reopen.

[2018-12-03 20:17] pixelzoom commented on #88
@KatieWoe please review @phet-steele's report in https://github.com/phetsims/graphing-quadratics/issues/88#issuecomment-443398269 and my subsequent fix.   Is this issue a duplicate, and is the issue addressed by the fix in master?

[2018-12-03 20:17] pixelzoom commented on #88
Oops, @KatieWoe I didn't realize this is the same issue.  I'll delete my comment above.

[2018-12-03 20:18] pixelzoom commented on #88
@KatieWoe This should be handled by the above fix.  Please verify in master.

[2018-12-03 22:52] pixelzoom commented on #121
It's not aspect ratio that's important to the Java port, it's the dimensions of the layoutBounds. It's probably possible (though I haven't tried it) to take the Java layoutBounds, modify one of the dimensions, and still get the benefits of direct porting, while having the same aspect ratio as the default for HTML5.

Gas Properties is going to be a full rewrite, not a port, so have no fear.  And if

[2018-12-03 22:54] pixelzoom commented on #121
@arouinfar It's not aspect ratio that's important to the Java port, it's the dimensions of the layoutBounds (aka 'dev bounds'). It's probably possible (though I haven't tried it) to take the Java layoutBounds, modify one of the dimensions, and still get the benefits of direct porting, while having the same aspect ratio as the default for HTML5.

Gas Properties is going to be a full rewrite, not a

[2018-12-03 22:55] pixelzoom commented on #121
I said:

Reopening. I'm going to give this a try.

[2018-12-03 23:11] pixelzoom commented on #121
Adjusting the custom layoutBounds to have the same aspect ratio as the default HTML5 layoutBounds works nicely.  I've committed the change to master and 1.0 branches.  Everything remains in the same location on the screen, but the dev bounds now match the dev bounds of sims that use the default.

[2018-12-03 23:18] pixelzoom commented on #121
@KatieWoe could you please verify? Compare master and [1.0.0-rc.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-rc.1/phet/graphing-quadratics_en_phet.html?dev), and verify that all UI elements are still in their same locations, while the dev bounds now match typical PhET sims (e.g. [Equality Explorer 1.0.3](https://phet.colorado.edu/sims/html/equality-explorer/latest/equality-explo

[2018-12-03 23:21] pixelzoom commented on #88
Patched in 1.0 release branch.

[2018-12-03 23:22] pixelzoom commented on #117
Patched in 1.0 release branch.

[2018-12-03 23:31] pixelzoom commented on #117
I've moved the question related to Blackbody Spectrum to https://github.com/phetsims/blackbody-spectrum/issues/69.

[2018-12-03 23:33] pixelzoom commented on #121
@arouinfar said:

Yes.  I would recommend keeping the ability to set a custom layoutBounds, but require a layoutBounds values to have the same aspect ratio (within some tolerance).

[2018-12-03 23:41] pixelzoom commented on #88
Thanks @JRomero0613.  That particular case is an overlap that we have decided not to address. See https://github.com/phetsims/graphing-quadratics/issues/39#issuecomment-426700426.

[2018-12-03 23:55] KatieWoe commented on #88
New note.  The fix doesn't seem to work with short strings.  This was taken on master.
![master](https://user-images.githubusercontent.com/41024075/49409064-409d5d80-f71c-11e8-8200-c59bb387f3d4.PNG)

[2018-12-04 00:19] pixelzoom commented on #88
Good catch. The "overlap area" is computed based on the width of the "NO REAL ROOTS" string.  Perhaps I should base it on the `maxWidth` of that Node.

[2018-12-04 00:35] pixelzoom commented on #88
Okey dokey, overlap bounds are now based on maxWidth, so should work for all translated string lengths.  @KatieWoe please verify in master.

[2018-12-04 01:06] pixelzoom commented on #118
To improve performance, coordinates are only updated when they are visible.  When they become visible, they are updated.  I had missed one place where the position of the updated coordinates needed to be adjusted.  Thanks for finding this @phet-steele, please verify in master.

[2018-12-04 15:44] KatieWoe commented on #88
Looks good on master @pixelzoom

[2018-12-04 17:13] KatieWoe opened #122 "[Edge] performance of sliders is laggy"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/227.  Connected to https://github.com/phetsims/graphing-quadratics/issues/82.
When dragging and using the sliders on Edge, there in a lag, especially when the mouse or finger movement is fast.  The performance is consistent, doesn't interfere, and is generally acc

[2018-12-04 17:18] phet-steele commented on #122
@KatieWoe is the performance you are seeing now any different than the performance in #82? Otherwise, if the purpose was to create a record of performance, than I think #82 does just that.

[2018-12-04 17:19] KatieWoe commented on #122
It's not much different, maybe a bit slower.  @pixelzoom asked for the issue on slack as a record specific to the rc.

[2018-12-04 17:32] pixelzoom commented on #122
@KatieWoe could you please review with @amanda-phet on your test device?  (Like we did in https://github.com/phetsims/graphing-quadratics/issues/82#issuecomment-437077942.) If @amanda-phet thinks the performance is acceptable, you can close this issue.

[2018-12-04 17:33] KatieWoe commented on #122
Sure.  @amanda-phet let me know when works for you.

[2018-12-04 17:40] rea-laura opened #123 "[FF] Directrix equation changes color with stringTest=long"
<b>Test Device</b>

Erdos

<b>Operating System</b>

Mac 10.12.6

<b>Browser</b>

Firefox 63.0.3

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/227:
When testing the "long" string test, the green and purple equation labels sometimes change color.

<b>Steps to Reproduce</b>

1) open sim with "long" string test: https://phet-dev.colorado.edu/html/graphing-quadratics/1.0.0-rc.1

[2018-12-04 17:56] pixelzoom commented on #123
Reproduced on FF 63.0.3 on macOS 10.11.6.  It seems to be specific to FF, since I could not reproduce on Chrome or Safari.  And it's very odd that this only happens with `stringTest=long`.  With other `stringTest` values (double, 'X',...), or the absence of `stringTest`, it does not occur.

I inspected the source code for `DirectrixNode`.  The equation is initialized here:

[code]

This private, a

[2018-12-04 18:10] pixelzoom commented on #123
I tried `stringTest=1234567890`, with various numbers of digits.  What I'm observing is that the equation is mostly green while dragging the 'p' (leftmost) slider, but then changes color to have more purple in it when the dragging ends.  As the length `stringTest` increases, the equation becomes mostly purple when dragging ends.

Here are some screenshots, where I'm using the Digital Color Meter a

[2018-12-04 18:16] pixelzoom commented on #123
It's worth noting that this is unlikely to ever occur in practice.  So resolving this is not a prerequisite to publishing 1.0.

[2018-12-04 19:21] amanda-phet commented on #122
@KatieWoe I will be on campus Thursday. Will that be too late for me to review with you? If it's the same as #82 then I think we should leave it as it is.

[2018-12-04 19:22] KatieWoe commented on #122
It shouldn't be too late.  As indicated above, this is probably acceptable for Edge.  @pixelzoom does this time frame work for you?

[2018-12-04 19:48] pixelzoom commented on #122
It depends on when you'll be ready for the next RC, 1.0.0-rc2.  We don't want to do anything to put this sim on hold.

[2018-12-04 20:34] KatieWoe opened #124 "graphed curves are thin in iframe"
For https://github.com/phetsims/QA/issues/227.  Found on chromebook Chadwick when in iframe, was not present in full screen.  The resolution of the screen seems to cause the line to become very thin when a is large on any screen, though sometimes unevenly.
Per @pixelzoom

![pastedimage](https://user-images.githubusercontent.com/41024075/49471077-34bba500-f7c9-11e8-9e03-5470aa0e0dd8.png)

[2018-12-04 20:44] kathy-phet opened #125 "Why rename saveEraseButtonGroup?"
I'm working on the Featured list, and in the latest studio this PhETiO iD was renamed... it had been.
graphingQuadratics.exploreScreen.view.equationAccordionBox.saveEraseButtonGroup.visibleProperty
Now it is
graphingQuadratics.exploreScreen.view.equationAccordionBox.buttonGroup.visibleProperty

imo, the new name is too vague for an instructional designer, and I preferred the original name.

what w

[2018-12-04 20:46] kathy-phet commented on #112
I've moved this to a google doc, and am working on it here:
https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit

[2018-12-04 20:52] pixelzoom commented on #125
It's the only group of buttons in the accordion box, so "buttonGroup" is a sufficiently descriptive name.  And under "buttonGroup", you'll find "saveButton" and "eraseButton".  So "saveEraseButtonGroup" is redundant and overly specific. Also, if we decided to add another button in a future enhancement, a name like "saveEraseButtonGroup" would be a liability.

[2018-12-04 20:53] samreid commented on #125
What if we add another button group in a future enhancement?

[2018-12-04 20:59] pixelzoom commented on #125
It is highly unlikely that we'll ever add any more buttons to this accordion box.  If we did add a button, I've venture to guess that it would be more likely to be added to the existing button group - we rarely have need (or justification) for multiple button groups.

In any case... Future-proofing the name is the secondary argument. The primary argument is that there is no need for such specifici

[2018-12-04 21:03] pixelzoom commented on #125
Another reason for the name change...  `SaveEraseButtonGroup` used to exist as a separate class, in its own .js file.   Since it is used solely by this accordion box, it is now inner type `ButtonGroup` of `GQAccordionBox` (the base class for accordion boxes in this sim).   The code looks like this:

[code]

In keeping with PhET conventions, the variable name (`buttonGroup`) matches the class name

[2018-12-04 21:04] pixelzoom commented on #125
Another reason for the name change...  `SaveEraseButtonGroup` used to exist as a separate class, in its own .js file.   Since it is used solely by this accordion box, it is now inner type `ButtonGroup` of `GQAccordionBox` (the base class for accordion boxes in this sim).   The code in `GQAccordionBox` looks like this:

[code]

In keeping with PhET conventions, the variable name (`buttonGroup`) mat

[2018-12-04 21:05] pixelzoom commented on #125
I should also mention that `buttonGroup` was given the OK by designers in last Thursday's design meeting, where we discussed this specifically.

[2018-12-04 21:09] pixelzoom commented on #125
Here's the tree for the _Explore_ screen.

Instances = "Featured":

![screenshot_918](https://user-images.githubusercontent.com/3046552/49472935-eeb51000-f7cd-11e8-87be-5139dfe4320e.png)

Instances = "All":

![screenshot_919](https://user-images.githubusercontent.com/3046552/49472939-f2e12d80-f7cd-11e8-90fb-0c8cca1d705e.png)

@kathy-phet Would you be happier with "buttonGroup" if "saveButton" and

[2018-12-04 21:17] pixelzoom commented on #125
One more argument against specificity in the name...

"interactiveEquationNode" appears 4 places in the tree, once for each screen.  It describes the logical function of that UI component. If we followed the approach of "saveEraseButtonGroup", then we would consider names like "abcInteractiveEquatioNode", to indicate what the subcomponents are.  But we don't (and shouldn't) put that information in

[2018-12-04 21:29] pixelzoom commented on #124
This would be an issue with any sim that is scaled down this severely.  The line widths used for the curves (`KITES/Shape`) are not designed to be used with a display that is this small.

FYI, here are the `lineWidth` values for the various graphed curves, from `GQConstants`:

[code]

@amanda-phet If you agree that we should do nothing about this, please close.  Otherwise please provide specifics

[2018-12-04 21:32] KatieWoe commented on #124
This seems particularly odd as it depends on position.
![linesareodd](https://user-images.githubusercontent.com/41024075/49474206-5b7dd980-f7d1-11e8-8be4-09751f4470e6.gif)

[2018-12-04 21:35] pixelzoom commented on #124
Yes, that's what happens when there are more positions for the curve than there are pixels.

[2018-12-04 22:08] amanda-phet commented on #124
Thanks for making a record @KatieWoe . If we decide to truly support lower-res screens in the future I imagine we will discuss this as a universal issue.

[2018-12-04 22:08] #124 closed

[2018-12-04 22:38] pixelzoom commented on #123
@KatieWoe reported via Slack that she could not reproduce this with Firefox 63.0.3 on macOS 10.14.1.

[2018-12-04 22:40] pixelzoom commented on #118
@KatieWoe If @phet-steele doesn't get to this before the end of the day, would you mind reviewing?

[2018-12-04 22:43] pixelzoom commented on #123
Labeling this issue with `priority:deferred` because it's not required for 1.0 publication.  @jonathanolson it's up to you as to when you'd like to investigate.

[2018-12-04 22:44] KatieWoe commented on #118
This looks fixed in master @pixelzoom

[2018-12-04 22:52] pixelzoom commented on #118
In Slack, @phet-steele said:

Steele Dalton [3:47 PM]
I'm not convinced this is fixed

Chris Malley [3:47 PM]
Atta boy!

Steele Dalton [3:48 PM]
right?

![image](https://user-images.githubusercontent.com/3046552/49478266-8b7eaa00-f7dc-11e8-83c3-7307a4adc1d0.png)

(about not being fixed)

Chris Malley [3:48 PM]
you mean it’s a tad off center?

Steele Dalton [3:48 PM]
correct

Chris Malley [3:49 PM]

[2018-12-04 22:53] KatieWoe commented on #118
Good catch.  Sorry for missing this.

[2018-12-04 22:59] pixelzoom commented on #118
It's easiest to reproduce this if you move the manipulator to a different quadrant, so that the size of the background rectangle on the coordinates changes.  For example:

1. Vertex screen
2. Move vertex manipulator to (2,2)
3. uncheck Coordinates
4. Move vertex manipulator to (-2,2)
4. check Coordinates

[2018-12-04 23:06] pixelzoom commented on #118
Fixed in the above commit.  Identical fixes for `GQManipulator` and `PointNode`.   @phet-steele please verify in master.

[2018-12-04 23:06] phet-steele commented on #118
I like master now after https://github.com/phetsims/graphing-quadratics/commit/18b61585a89e7a0ad60b5061795f7d7361ca7b71.

[2018-12-04 23:07] pixelzoom commented on #118
Thanks @phet-steele.

Reopened, labeled with "fixed-pending-testing".

[2018-12-04 23:09] pixelzoom commented on #88
Labeled with "fixed-pending-testing" for regression testing in 1.0.0-rc.2.

[2018-12-04 23:09] pixelzoom commented on #121
Labeled with "fixed-pending-testing" for regression testing in 1.0.0-rc.2.

[2018-12-04 23:09] pixelzoom commented on #119
Labeled with "fixed-pending-testing" for regression testing in 1.0.0-rc.2.

[2018-12-04 23:10] pixelzoom commented on #117
Labeled with "fixed-pending-testing" for regression testing in 1.0.0-rc.2.

[2018-12-04 23:34] pixelzoom commented on #121
To clarify for 1.0.0-rc.2 regression testing, here's what you need to do for regression testing:

1. Run the sim with `dev` query parameter
2. Ignore the home screen.
3. Verify that the dev bounds for screens match the default dev bounds, e.g. for [Equality Explorer 1.0.3](https://phet.colorado.edu/sims/html/equality-explorer/latest/equality-explorer_en.html?dev)
4. Verify that UI components have

[2018-12-04 23:54] kathy-phet commented on #125
I don't recall discussing it last week, but it sounds like there is consensus here, so I will just make the change in the google doc of featured components. And no, I don't think we should feature the save and erase buttons separately.

Closing.

[2018-12-04 23:54] #125 closed

[2018-12-04 23:58] KatieWoe commented on #119
This seems fixed 1.0.0-rc.2.

[2018-12-04 23:58] #119 closed

[2018-12-05 00:56] phet-steele commented on #118
👍

[2018-12-05 00:56] #118 closed

[2018-12-05 00:59] phet-steele commented on #88
Good in 1.0.0-rc.2.

[2018-12-05 01:07] phet-steele commented on #117
@pixelzoom I can now drag this bad boy outside the graph (it's the only point in which I can do so). Make sure you move your mouse up or down when you are at the boundaries, not left or right.

![image](https://user-images.githubusercontent.com/5863899/49483138-4748d500-f7ef-11e8-9507-99184315868b.png)

Seen on Win 10 Chrome. For phetsims/QA/issues/233.

<details>
<summary>Troubleshooting Informat

[2018-12-05 15:59] KatieWoe commented on #117
Addition to what @phet-steele noticed.  It seems to occur more easily for certain shapes of parabola (close to what @phet-steele has posted) and occurs when the it is both open upwards and open downward.

[2018-12-05 16:07] pixelzoom commented on #117
Thanks for finding this. I suspect (but have not confirmed) that it occurs when both x and y coordinates of the point are off the graph. In that case, only the x coordinate is getting clamped to the x-axis range, and the y coordinate is off the graph.   That hypothesis matches info provided by @phet-steele in https://github.com/phetsims/graphing-quadratics/issues/117#issuecomment-444319179.   This

[2018-12-05 16:17] KatieWoe commented on #88
One extra note @pixelzoom.  I would still say this is fixed and leave closed, but I do see the "no real roots" box move when it doesn't need to.
![needed](https://user-images.githubusercontent.com/41024075/49527163-89fdc200-f86e-11e8-8959-49d2caa85dd6.gif)

[2018-12-05 21:00] kellywurtz opened #126 "Overlap of eye button and "point on parabola" coordinates"
Test device:
Found on both Macbook and iPad

Operating System:
OS 10.14.1 and iOS 11

Browser:
Safari and Chrome

Problem description:
For https://github.com/phetsims/QA/issues/233
Eye button obscures point coordinates for a very small range of functions/points.

Steps to reproduce:
- Open "focus and directrix" screen
- Enable "point on parabola option"
- Create the function shown in the photo bel

[2018-12-05 21:13] pixelzoom commented on #126
Nice! We hadn't seen that one.

[2018-12-05 21:17] pixelzoom commented on #111
@amanda-phet The sim is likely to be published later this week, or early next week.  Primary screenshot is a prerequisite to publishing.

[2018-12-05 21:18] pixelzoom commented on #126
@amanda-phet Do you want this overlap to be addressed? Would it be acceptable to move the button behind the coordinates?

[2018-12-05 21:20] pixelzoom commented on #126
I could also move the coordinates to the left of the point when the point is in the lower-right corner of the graph.  That's a bit of a hack code-wise, but relatively easy.

[2018-12-05 21:58] pixelzoom commented on #126
With button behind point+coordinates:

![screenshot_923](https://user-images.githubusercontent.com/3046552/49546768-3dca7600-f89e-11e8-9955-3884053e9b6c.png)

[2018-12-05 22:05] amanda-phet commented on #126
Button behind point+coordinates seems like a reasonable solution to me. Good find!

[2018-12-05 22:12] amanda-phet commented on #111
Somehow I missed the message 5 days ago! Steele and I discussed this and his screenshot above is what we talked about. However.. I'd love to be picky and make one tweak, so that the AOS isn't right over the y-axis.

![image](https://user-images.githubusercontent.com/7852916/49547487-08268c80-f8a0-11e8-91fd-ba8996eb901f.png)

Slightly different equation and the point tool is at (0,-4). Thanks @Kati

[2018-12-05 22:13] amanda-phet commented on #111
If you already committed the one Steele took that's fine too, actually. When I see them side-by-side, mine looks a little cluttered.

[2018-12-05 22:21] KatieWoe commented on #91
Seen in https://github.com/phetsims/QA/issues/233.  Adding this to note that is more obvious on iPad screens as they are always sized so that this occurs.

[2018-12-05 22:36] pixelzoom commented on #126
I discussed this issue with @amanda-phet on Slack, and we decided to button behind point+coordinates, and tolerate the overlap.   The point can be moved, or coordinates turned off, if the overlap is a problem.   And we don't want to attempt to do the same thing on the left side of the graph, since we'd cause overlap problems with the vertex and/or focus.

So this is "fixed-awaiting-testing".

[2018-12-05 22:42] pixelzoom opened #127 "pointerAreas for eye button and "Point on Parabola" overlap"
For phetsims/QA#233. Noted while working on #126.

![screenshot_924](https://user-images.githubusercontent.com/3046552/49548718-dadbdd80-f8a3-11e8-8792-e20613a2e4db.png)

Discussed with @amanda-phet. Moving the eye button 11 pixels to the right will resolve the overlap:

![screenshot_926](https://user-images.githubusercontent.com/3046552/49548856-43c35580-f8a4-11e8-9f7f-6886a6ad1a76.png)

This sam

[2018-12-05 22:50] pixelzoom opened #128 "width of the "Quadratic Terms" accordion box"
For phetsims/QA#233, reported by @amanda-phet on Zoom, which she had previously discussed with @KatieWoe.

The "Quadratic Terms" accordion box looks like this:

![screenshot_927](https://user-images.githubusercontent.com/3046552/49548999-b5030880-f8a4-11e8-8ef5-78840cf52575.png)

With `?stringTest=X`, it looks like this:

![screenshot_928](https://user-images.githubusercontent.com/3046552/49549033

[2018-12-05 22:51] pixelzoom commented on #127
@KatieWoe FYI.

[2018-12-05 22:52] KatieWoe commented on #128
Discussed this with @phet-steele on Zoom and he said that this was generally acceptable and pointed out that the equations likely wouldn't be translated and shortened.

[2018-12-05 22:54] KatieWoe commented on #127
Thanks for the heads up.

[2018-12-05 22:55] pixelzoom commented on #127
This issue is now "fixed-pending-testing".

[2018-12-05 23:07] pixelzoom commented on #128
Width of the separator is now computed as a function of the title and content.  Here's what the accordion box looks like:

![screenshot_930](https://user-images.githubusercontent.com/3046552/49550073-d31e3800-f8a7-11e8-8bd2-9b712b511a85.png)

With `?stringTest=long`:

![screenshot_931](https://user-images.githubusercontent.com/3046552/49550083-d9acaf80-f8a7-11e8-9250-69b580386186.png)

With `?stri

[2018-12-05 23:08] pixelzoom commented on #128
This issue is now "fixed-pending-testing".

[2018-12-05 23:12] KatieWoe commented on #121
Looks good 1.0.0-rc.2

[2018-12-05 23:12] #121 closed

[2018-12-05 23:17] pixelzoom commented on #91
Thank for noting @KatieWoe. We decided that this is the lesser of 2 evils.  If we start trying to flip the coordinates to the right of the point, we run into all kinds of scenarios where there is overlap with vertex and focus.

[2018-12-05 23:21] pixelzoom commented on #117
Steps to reproduce:
1. F&D screen
2. Check "Point on Parabola"
3. Drag point towards upper-right corner of graph, then continue to hold and move mouse until it's towards the center of the equation accordion box.

[2018-12-06 01:02] pixelzoom commented on #88
The "other way" proved to be full of minefields, so I abandoned. Closing.

[2018-12-06 01:02] #88 closed

[2018-12-06 01:46] pixelzoom commented on #117
"fixed-pending-testing", will be verified in 1.0.0-rc.3.

[2018-12-06 03:30] pixelzoom commented on #122
@amanda-phet @KatieWoe reminder to review performance on Thursday 12/5.  Please use the latest RC, [1.0.0-rc.3](https://bayes.colorado.edu/dev/html/graphing-quadratics/1.0.0-rc.3/phet/graphing-quadratics_en_phet.html).

[2018-12-06 03:43] phet-steele commented on #117
Looks like a simple enough fix, and it is working for me 👍.

[2018-12-06 03:43] #117 closed

[2018-12-06 03:50] phet-steele commented on #126
Good 'nuff in 1.0.0-rc.3.

[2018-12-06 03:50] #126 closed

[2018-12-06 04:02] phet-steele commented on #128
Lookin' good in 1.0.0-rc.3.

[2018-12-06 04:02] #128 closed

[2018-12-06 04:06] phet-steele commented on #127
No overlap in 1.0.0-rc.3!

[2018-12-06 04:06] #127 closed

[2018-12-06 04:39] phet-steele commented on #111
@KatieWoe here are some alts. Pick your favourite three! Please only commit the alts to master after you have taken them.

![image](https://user-images.githubusercontent.com/5863899/49561397-3faf2c00-f8d4-11e8-8354-5fa3dfcee923.png)
![image](https://user-images.githubusercontent.com/5863899/49561438-84d35e00-f8d4-11e8-846f-6cfa3455f3e5.png)
![image](https://user-images.githubusercontent.com/586389

[2018-12-06 04:40] phet-steele commented on #111
Also @amanda-phet, if you see a screenshot in the above 5 that you think would work better for the main screenshot, let @KatieWoe know asap!

[2018-12-06 16:52] KatieWoe commented on #111
Screenshot and 3 alts for approval before upload.  @amanda-phet
![graphing-quadratics-screenshot](https://user-images.githubusercontent.com/41024075/49598774-98b2aa80-f93c-11e8-979b-da29c081b3f4.png)
![graphing-quadratics-screenshot-alt1](https://user-images.githubusercontent.com/41024075/49598775-98b2aa80-f93c-11e8-8cba-767f680014d5.png)
![graphing-quadratics-screenshot-alt2](https://user-images.

[2018-12-06 16:54] amanda-phet commented on #111
@KatieWoe those all look superb to me. Thanks!

@phet-steele thanks for all the options :)

[2018-12-06 17:01] KatieWoe commented on #4
Kathryn Woessner, Steele Dalton, Laura Rea, Kelly Wurtz, Jacob Romero.
@phet-steele @rea-laura @kellywurtz @JRomero0613 please double check spelling, etc.

[2018-12-06 17:23] pixelzoom commented on #111
We're getting close to publication, so I've labeled this as "blocks-sim-publication".

[2018-12-06 18:15] pixelzoom commented on #122
@KatieWoe and I reviewed on her test machine.  The responsiveness is very acceptable.  No need for @amanda-phet to review, no need to change anything.  Closing.

[2018-12-06 18:15] #122 closed

[2018-12-06 19:52] pixelzoom commented on #111
Slack:

For GQ, I see the primary screenshot in the 1.0 branch, but none of the alternates.  Is that “in progress” or an oversight?

Steele told me to only commit them to master, not to 1.0

Not sure why they wouldn't be added to 1.0, since they will certainly be in any future release branches.  So I've added the alt screenshots to the 1.0 branch.

[2018-12-06 19:52] pixelzoom commented on #111
Reviewed screenshots, sizes, etc.  All looking good.  Closing.

[2018-12-06 19:52] #111 closed

[2018-12-06 19:54] pixelzoom commented on #4
@amanda-phet @KatieWoe Below is a screenshot showing the final credits for Graphing Quadratics. Please verify.

![screenshot_935](https://user-images.githubusercontent.com/3046552/49608508-0ae3b900-f956-11e8-8066-cf4d1ada714a.png)

[2018-12-06 19:55] KatieWoe commented on #4
looks good

[2018-12-06 19:57] pixelzoom commented on #4
Btw... I verified spelling of QA team names by looking at prior sim credits and Slack.

[2018-12-06 20:20] amanda-phet commented on #4
All looks good to me!

[2018-12-06 20:20] #4 closed

[2018-12-06 22:26] rea-laura opened #129 "[IE11] Directrix disappears in full screen on Windows 7"
<b>Test Device</b>

Bates

<b>Operating System</b>

Windows 7 Enterprise

<b>Browser</b>

Internet explorer 11.0.9600.19180

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/234:
Directrix disappears when point on parabola is moved in full-screen mode

<b>Steps to Reproduce</b>

1) open sim
2) open "focus and directrix" from home page
3) set "p" to its highest value (9.0)
4) t

[2018-12-06 22:36] KatieWoe commented on #129
Note: I was unable to reproduce on a Win 10 IE.

[2018-12-06 22:59] pixelzoom commented on #129
Bizarre! Nothing here that the sim is doing. @jonathanolson any ideas?

[2018-12-06 23:02] pixelzoom commented on #129
@ariel-phet Your feelings on whether this blocks 1.0 publication?

[2018-12-06 23:06] pixelzoom commented on #129
On Slack, @jonathanolson said:

[2018-12-06 23:51] KatieWoe commented on #129
Another odd data point: unable to reproduce on Win 8.1.  @lmulhall-phet is currently double checking the other browsers on Win 7.

[2018-12-06 23:53] lmulhall-phet commented on #129
Double check complete. This bug only occurs on IE.

[2018-12-09 22:10] pixelzoom commented on #3
@ariel-phet please add to Edmodo, Gooru, etc.

[2018-12-10 20:51] KatieWoe commented on #116
This device seems to be causing problems, which makes me think this issue might not have been solved, but might not be the fault of the sim.  Issue in question: https://github.com/phetsims/coulombs-law/issues/96

[2018-12-12 17:59] zepumph commented on #112
Removing the deferred label now that phet brand was published. We should finish this up.

[2018-12-12 18:13] pixelzoom commented on #112
Happy to finish it up.  But (afaik) a PhET-iO version of Graphing Quadratics is not on the release schedule.  And @amanda-phet and @kathy-phet need to specify what should (and should not) be "featured" before we make any code changes.

[2018-12-13 03:46] ariel-phet commented on #3
@amanda-phet remaining items are for you to check off (I think most of them were done when you published)

Feel free to close after making separate issues for the primer and a deferred issue like https://github.com/phetsims/equality-explorer-two-variables/issues/5 for the LoL items

[2018-12-13 18:37] pixelzoom commented on #112
12/13/18 phetio meeting:
* set priority to medium
* I will publish a dev version, put a link in @kathy-phet's doc and in this issue

[2018-12-20 21:47] rea-laura commented on #85
Also found in https://github.com/phetsims/QA/issues/243
Device: Bates
OS: Windows 7
Browser: IE 11

[2018-12-20 22:32] mattpen commented on #85
@rea-laura - This issue is closed, can you please move these comments to https://github.com/phetsims/joist/issues/533

[2019-02-26 18:52] pixelzoom commented on #112
Email from @amanda-phet:

Kathy and I are finished meeting about the PhET-iO featured list for GQ. This document list everything that we think might want to be included in the featured list, but there are also some questions. It might be good to review it before Thursday's design meeting.

https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#

[2019-02-26 18:52] pixelzoom commented on #112
Re the above document...

Assuming that things highlighted in yellow make up the complete list of things that need to be addressed…  I’ve commented on all such things in the document.  Most of the requested changes are in common code and will affect all sims.

[2019-02-26 21:19] pixelzoom commented on #3
@amanda-phet since Graphing Lines and Graphing Slope-Intercept are marked for LoL delivery (see https://github.com/phetsims/graphing-lines/issues/126), it would be nice to have this sim included too.

[2019-02-27 16:34] amanda-phet commented on #3
Yes, this sim is included! I have 24 screens that I am prepping for LoL right now.

[2019-02-28 03:52] samreid commented on #112
I'm concerned after seeing the complexity in the GQ PhET-iO featured design document.  Manually comparing this to the instrumented simulation will be time consuming and error-prone.  I recommend that we investigate a new format for these design documents that is also machine-readable and hence can be automatically checked for coverage and support.

[2019-02-28 15:08] pixelzoom commented on #112
@samreid perhaps you should attend today's design meeting?

[2019-02-28 21:27] pixelzoom commented on #112
We had a design meeting on 2/28/19 and started reviewing the Google doc.

We need separate general issues for:
* PhET menu
* Navigation bar
* Slider enabled
* NumberPicker enabled

I will begin adding `phetioFeatured: true` to the desired elements.

[2019-03-01 02:48] pixelzoom commented on #112
I've done as much of the instrumentation as I can, and have marked up the Google doc accordingly.  There are many common-code issues that need to be addressed (listed in https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-468445013).  And there are several Google doc comments that need to be discussed.

@amanda-phet next steps?

[2019-03-04 19:24] pixelzoom commented on #112
I have implemented the majority of the "featured" specification, see [PhET-iO Featured List: Graphing Quadratics](https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#).

All remaining requirements involve common-code design and implementation tasks, as indicated in the comments attached to the specification.  The blocking issues are:

- [ ] https://github.com/phets

[2019-03-05 20:47] pixelzoom commented on #112
@amanda-phet @kathy-phet I've done as much work as possible on this.  So this is ready for review. Verification is a manual process.  You'll need to go through the design document, and compare anything with ✅ next to it to what you see in Studio.

The remaining issues require common-code design decisions, or changes to Studio.  You'll have to decide whether those issues are prerequisites for publi

[2019-03-05 21:09] pixelzoom commented on #115
Verification of PhET-iO instrumentation has moved over to #112, so closing this issue.

[2019-03-05 21:09] #115 closed

[2019-03-25 20:43] pixelzoom commented on #123
Based on https://github.com/phetsims/graphing-quadratics/issues/123#issuecomment-444957237 and the fact that we will never do anything in code to address this... Closing.

[2019-03-25 20:43] #123 closed

[2019-03-25 20:45] pixelzoom commented on #3
@amanda-phet update? Should we create a LoL issue so that we can close this issue?  Anything else in the checklist that needs an issue, like Sim Primer?

[2019-03-25 20:50] amanda-phet opened #130 "Make a sim primer"
#3

[2019-03-25 20:51] amanda-phet commented on #3
Delivered to LoL 3/13/19. This can be closed.

[2019-03-25 20:51] #3 closed

[2019-04-03 19:00] pixelzoom commented on #112
This has been ready to review for 29 days.  But before that happens, perhaps we should discuss the implications of the work that's being done on Studio.

When it's possible to specify metadata using Studio, I think that we should essentially start over with this issue. Remove the explicit metadata from this sim's code, and possibly role back the distasteful changes that I had to make to common cod

[2019-04-03 19:02] pixelzoom commented on #112
This has been ready to review for 29 days.  But before that happens, perhaps we should discuss the implications of the work that's being done on Studio.

When it's possible to specify metadata using Studio, I think that we should essentially start over with this issue. I.e.,

* Remove the explicit metadata from this sim's code.
* Possibly roll back the distasteful changes that I had to make to com

[2019-04-04 01:49] samreid commented on #112
Putting the metadata in the code is the most efficient way to factor it out and provide long-term maintainability.  Please refer to https://github.com/phetsims/phet-io/issues/1440#issuecomment-474634954 "Strategy C" that indicates that some problems that increase in severity with the size of the overrides file.

Common code still needs a way to specify the baseline metadata, and as per my previous

[2019-04-04 02:12] pixelzoom commented on #112
I thought the point of adding metadata editing to Studio was so that a developer wouldn't have to put the metadata in the code in the first place.   If Studio provides a description of the metadata, why would it be duplicated (or worse, different) in the code?

The design specified "featured" for the visibleProperty of the expandCollapseButton for all AccordionBox instances.  This required the cha

[2019-04-04 02:28] samreid commented on #112
Right, I agree that will come in very handy in future sim instrumentation.  But I see it as a step backwards to roll back the work you already did for this.  To clarify, I see a significantly lower cost to specify metadata through the overrides file, but an overall benefit to specifying the metadata in the simulation.  Since that up-front cost is already paid for Graphing Quadratics, I'd recommend

[2019-04-04 02:52] pixelzoom commented on #112
The up-front cost is not fully "paid for".  The implementation has not been verified to be correct, and I'll be surprised if it is correct or isn't changed.   And changing it through overrides will result in exactly what I'd like to avoid - sim-specific code that contains metadata in the code that does not correspond to the specification.   I don't see this as a way "to save time"; I see it as a m

[2019-04-04 03:31] samreid commented on #112
Thanks for clarifying, I see that it could be problematic to specify one thing in the simulation code then override that in the overrides.

Yes, it is simple to specify metadata directly on the instances through the overrides instead of via the `phetioComponentOptions`, but the override file doesn't offer any possibility for factoring out or abstraction.  In the bottom part of https://github.com/p

[2019-04-04 18:22] pixelzoom commented on #112
Relevant notes from 4/4/19 phet-io meeting:

Studio metadata editing features are looking really nice.  When Studio is ready, I'll make a pass through Graphing Quadratics and adjust which metadata is specified in baseline (code) vs overrides (Studio).   My priority next week is Gas Properties, and then I'm vacation for 2 weeks.  So the soonest that I will realistically get to this is early May.

[2019-04-17 17:14] KatieWoe opened #131 "Usability on a small screen review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56307345-e36ddb80-6101-11e9-831a-eab74d5d

[2019-04-17 17:14] #131 closed

[2019-05-08 17:46] pixelzoom commented on #112
Notes from 5/2/19 status meeting...

The plan now is to have @kathy-phet and @amanda-phet identify desired instrumentation of common components.   Do that work, then tackle Graphing Quadratics.

[2019-05-18 03:21] pixelzoom commented on #112
@amanda-phet and @kathy-phet specified desired common-code instrumentation in [Graphing Quadratics: PhET-iO Featured List](https://docs.google.com/document/d/1OfHhIDuaBt-hhXVtpnJgM3Wm0iByJ7dmXd-2UkphUR4/edit#).  My feedback via email to @amanda-phet was:

@amanda-phet and I also discussed on Zoom.

@amanda-phet moved the common-code specification to [PhET-iO Design for Common Components(https://do

[2019-05-29 23:58] zepumph opened #132 "Why are the save/erase buttons phetioReadOnly?"
While working on https://github.com/phetsims/phet-io/issues/1466, I noticed that I can't toggle the visibility of the save/erase buttons, with phetioIDs like:
`graphingQuadratics.exploreScreen.view.equationAccordionBox.buttonGroup.saveButton`

Likely this is purposeful and the issue can just be closed. I know others have spent much longer on this sim's design than I have. At the very least my ques

[2019-05-30 05:06] pixelzoom commented on #132
Good question!

From the requirements in https://github.com/phetsims/graphing-quadratics/issues/112:

So the request was to be able to change the visibility of `buttonGroup`, but not the individual buttons. The rationale was that it doesn't make sense to have only the "Save" or "Erase" button, but it is useful to hide the entire feature.

Further confirmation appears in [Graphing Quadratics: PhET-

[2019-05-31 23:33] zepumph commented on #132
Oops sorry to close prematurely. This all makes sense. The reason why I was asking was because the individual buttons' enabled/visible Properties are still phetioFeatured. I would recommend making those not featured in studio when we go back through, since they are readonly and can't be used. I'm not sure if that is a you thing, or a designer thing, but I'll assign to you for now to see what you t

[2019-05-31 23:38] pixelzoom commented on #132
@zepumph Roger that.  Are they feature now because all buttons are featured by default?  I don't recall if they were featured incorrectly before via sim-specific code.

[2019-06-01 01:21] zepumph commented on #132
Yes now buttonModel.enabledProperty, and Round/RectangularButtonView.visibleProperty (a NodeIO subProperty) are both featured by default.

I would recommend removing any sim specific code and setting them manualing to phetioFeatured: false via studio admin mode to add to the overrides.

[2019-06-06 18:46] pixelzoom commented on #112
6/6/19 dev meeting:

This issue is now part of the GQIO-oneone milestone. I'll be revisiting GQ, moving some stuff out of code and instrumenting via Studio.  Then passing it on to @kathy-phet and @amanda-phet for review.

@samreid will assign this issue to me when PHET-iO/Studio are ready for me to proceed.

[2019-06-11 18:06] samreid commented on #112
@zepumph said:

[2019-06-11 18:20] pixelzoom commented on #112
I did `grunt dev --brands=phet-io` to publish [1.1.0-dev.5](https://phet-dev.colorado.edu/html/graphing-quadratics/1.1.0-dev.5/phet-io/) before starting this work, so I have a baseline of where things were at.

[2019-06-11 18:37] pixelzoom commented on #112
Options to consider moving from GQ code to Studio:

* phetioFeatured
* phetioReadOnly
* phetioHighFrequency
* phetioState
* phetioStudioControl
* phetioDocumentation
* phetioComponentOptions

[2019-06-11 19:13] pixelzoom commented on #112
Here’s the iterative process of moving things from code to Studio:

1. remove metadata in code
2. run “grunt update”
3. reload Studio
4. navigate to phetioID in Studio tree
5. add metadata
6. copy-paste console to overrides.js
7. reload Studio
8. navigate to phetioID in Studio tree to verify
9. repeat

[2019-06-11 20:25] pixelzoom commented on #112
1.5 hours to handle phetioFeatured

[2019-06-11 20:57] pixelzoom commented on #112
Summary of work:

* 1.5 hours to handle 51 phetioFeatured, 0 left in code
* Kept the 1 `phetioState: false` for GQViewProperties. If this is changed, things can break horrible, so it belongs in code.
* Kept the 1 `phetioStudioControl: false` for `pProperty` in FocusAndDirectrixModel. If this is changed, things can break horrible, so it belongs in code.
* 0.5 hours to handle 19 phetioComponentOptio

[2019-06-11 21:46] pixelzoom commented on #112
Completion of this work is blocked by the https://github.com/phetsims/tandem/issues/89 (`phetioReadOnly` bug).

[2019-06-12 04:05] samreid commented on #112
Thanks for your notes and analysis. https://github.com/phetsims/tandem/issues/89 has a proposed fix and is ready for review.

[2019-06-12 12:22] kathy-phet commented on #112
Sounds like this is going pretty well! Thanks all!

[2019-06-12 14:23] pixelzoom commented on #112
https://github.com/phetsims/tandem/issues/89 was fixed, so I continuing with the remaining work for `phetioReadOnly`.  See the above commit.

Looking at the PhET-iO design doc and the uses of `phetioReadOnly:true` in the code... The goal was to prevent access to a Node's `visibleProperty,` since it's intended to be controlled via a checkbox and a view-specific Property. For example, if you want to

[2019-06-12 14:37] pixelzoom commented on #112
I've completed my work on GQ, and published [1.1.0-dev.6]() as a record of the work.

The next step is for @amanda-phet and @kathy-phet to review and make corrections/changes, using Studio.  When you commit to the graphing-quadratics repo, please reference this issue number in your commit messages.  That will attach your changes to this issue, which will make it easier for me to review.

[2019-06-12 14:50] pixelzoom commented on #132
I addressed this in the above commit. Verification is part of #112. Closing.

[2019-06-12 14:50] #132 closed

[2019-06-12 16:23] pixelzoom commented on #112
@amanda-phet and I walked through (on Zoom) what needs to be done next.

[2019-06-12 18:19] amanda-phet commented on #112
I reviewed and brought up questions directly with @pixelzoom and also shared generally with the team in the slack channel. I will make a few corrections as well as changes using Studio later today, except for buttons (since that was was related to a change in sun that needs to be fixed, see 1 below).

Here is what I shared in the slack channel:
1. I believe the common code spec we discussed (for f

[2019-06-13 21:49] zepumph commented on #112
@amanda-phet the updates to common code from today's design meeting have been implemented over in https://github.com/phetsims/phet-io/issues/1466, please take it for a test drive and let me know how it goes!

[2019-06-14 17:49] amanda-phet commented on #112
All done! I didn't need to include any more overrides. The studio featured set now matches the spec that @kathy-phet and I provided. What is the next step for this issue?

[2019-06-14 17:54] pixelzoom commented on #112
Seems like we should asked @kathy-phet whether she wants to review.

[2019-06-14 19:41] zepumph commented on #112
Yes that sounds good. I'll mark for phet-io meeting to make sure this doesn't fall off our list. Removing assignment.

[2019-06-20 16:56] arnabp commented on #112
@kathy-phet will be taking a look at this tomorrow (6/21)

[2019-06-22 03:08] samreid commented on #112
@kathy-phet provided notes on this via slack.

[2019-06-24 00:04] pixelzoom commented on #112
@samreid Can you please add @kathy-phet's slack notes here, for posterity?

[2019-06-24 14:51] samreid commented on #112
@kathy-phet said:

[2019-06-24 18:58] samreid commented on #112
@chrisklus recalls a meeting (where @kathy-phet was not present) where @amanda-phet advocated for keeping "featured" as sparse as possible, and we wanted to make a distinction between (a) controls that are solely used for action and (b) controls that also serve as readouts.  For controls that serve as readouts, such as sliders, spinners, radio buttons, they would default to featuring "enabledPrope

[2019-06-24 19:28] kathy-phet commented on #112
Yes, this is what was discussed when I was out of town. There are competing goals here - and Amanda and I discussed these tensions. This is why we are planning on having a meeting on Wednesday - to discuss with the PhET-iO team. My preference is to trust the clients to be smart about their configurations (or at least take responsibility for their own choices), rather than trying to limit them, - w

[2019-06-25 12:04] pixelzoom commented on #112
Just to add to the collective recollection...

We concluded (on 1/6, I believe) that featuring visibleProperty and not featuring enabledProperty in general was a better strategy because:

(1) visibleProperty is typically more useful than enabledProperty when considering UI components in general.

(2) It reduces noise in the "Featured" view of tree, which makes that view easier to navigate.

(3) We

[2019-06-25 12:48] pixelzoom commented on #112
Another reason for not featuring `enabledProperty` right now is the fact that PhET does not have a consistent API for `enabledProperty`.  Every UI component (including buttons) is a little different, and we've identified that this needs to be revised and unified.  See for example https://github.com/phetsims/sun/issues/257#issuecomment-502900733 and https://github.com/phetsims/sun/issues/515.  So c

[2019-06-25 14:21] samreid commented on #112
Has this meeting been scheduled yet?  I'm not seeing it on the calendar.

[2019-06-27 00:26] zepumph commented on #112
We had the meeting this morning. During the meeting we decided that all ui components would have phetioFeatured enabled and visibleProperties until we got feedback from clients informing us that things should be done otherwise. In https://github.com/phetsims/phet-io/issues/1517 I implemented that. @kathy-phet and @amanda-phet it is now over to use to make the necessary overrides updates to GQ.

[2019-07-10 17:10] zepumph commented on #112
@kathy-phet, @chrisklus, and I discussed the next steps here since https://github.com/phetsims/phet-io/issues/1517 was implemented. We were able to build a version before those commits, and then compare it to master with the diff wrapper. Here was the output: [GQ diff.pdf](https://github.com/phetsims/graphing-quadratics/files/3378668/GQ.diff.pdf)

From here @kathy-phet will review the changes, and

[2019-07-12 18:52] zepumph commented on #112
@kathy-phet made changes to the overrides in response to the common code updates. Committed above. I think that this is the final `phetioFeatured` update. I'm not sure what is left for this issue. Perhaps it is ready for a close. @pixelzoom want to give things a once over?

[2019-07-12 19:08] kathy-phet commented on #112
@zepumph - with those commited is phettest now up to date so I could look at studio once more and review all?

[2019-07-12 19:11] zepumph commented on #112
I'm not sure if it was, but I just pulled phettest and the answer is NOW yes.

[2019-07-13 21:26] pixelzoom commented on #112
I've been out of the loop for design decisions, so I will assume that others have verified that metadata matches what is desired for GQ.  I ran graphing-quadratics in phetmarks with Mode=studio, and I don't see any obvious problems.

In https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-510999996, it sounds like @kathy-phet would like to review one more time.  So I will assign

[2019-07-13 22:57] zepumph commented on #112
Thanks for the once over. @kathy-phet and I have reviewed this in the past week. Closing.

[2019-07-13 22:57] #112 closed

[2019-07-17 19:28] samreid opened #133 "Create 1.1.0-rc.2"
Testing completed in https://github.com/phetsims/QA/issues/366 and we would like to patch in the changes for next RC.  The changes span 2 issues and several repos of commits.

3 commits in different repos for https://github.com/phetsims/phet-io/issues/1529
1 commit in 1 repo for https://github.com/phetsims/phet-io/issues/1531

[2019-07-17 19:29] samreid commented on #133
We need:
https://github.com/phetsims/phet-io-wrappers/commit/035efbbfae01073c5b70447fd097e7d09f56ead3
https://github.com/phetsims/phet-io/commit/f1766f6cf2a784f7f0e7e0146f0c51bea9535a6f
https://github.com/phetsims/tandem/commit/65d98f680b81fac4338239985ad940d6768e9ad8

and

https://github.com/phetsims/phet-io-wrappers/commit/c9696c18e57c1044baa75afd9d3244de0f6c8bb9

[2019-07-17 19:34] samreid commented on #133
Maintenance.createPatch( 'phet-io-wrappers', 'https://github.com/phetsims/graphing-quadratics/issues/133','search')
Maintenance.createPatch( 'phet-io', 'https://github.com/phetsims/graphing-quadratics/issues/133')
Maintenance.createPatch( 'tandem', 'https://github.com/phetsims/graphing-quadratics/issues/133')
Maintenance.createPatch( 'phet-io-wrappers', 'https://github.com/phetsims/graphing-quadra

[2019-07-17 20:23] zepumph opened #134 "Update QA credits before next publication"
@KatieWoe how do the current QA credits look?

[2019-07-17 20:24] zepumph commented on #134
`Steele Dalton, Laura Rea, Jacob Romero, Kathryn Woessner, Kelly Wurtz`

[2019-07-17 20:39] KatieWoe commented on #134
Add Ethan Ward and Jaspe Arias

[2019-07-17 20:48] zepumph commented on #134
Thanks, https://github.com/phetsims/graphing-quadratics/issues/134

[2019-07-17 21:01] zepumph commented on #133
We were able to use the maintenance release above for only one of the two bug fixes. We tried created two patches for phet-io-wrappers, which would have likely worked, except for that both commits (https://github.com/phetsims/phet-io-wrappers/commit/035efbbfae01073c5b70447fd097e7d09f56ead3 and https://github.com/phetsims/phet-io-wrappers/commit/c9696c18e57c1044baa75afd9d3244de0f6c8bb9) touched `se

[2019-07-17 21:48] zepumph commented on #133
1.1.0-rc.2 failed because we forgot to push phet-io-wrappers before launching it. 1.1.0-rc.3 was published successfully but without updated QA credits. 1.1.0-rc.4 was successful will be tested in https://github.com/phetsims/QA/issues/373

[2019-07-17 21:48] zepumph commented on #133
Closing

[2019-07-17 21:48] #133 closed

[2019-07-17 22:08] KatieWoe commented on #134
Looks good.

[2019-07-17 22:08] #134 closed

[2019-09-11 23:23] zepumph commented on #41
This has been done in https://github.com/phetsims/phet-io/issues/1371. Currently out for review. @pixelzoom if all looks good feel free to close this issue. Otherwise I'll see you over there!

[2019-09-13 22:07] zepumph opened #135 "Move BackgroundNode to common code"
Over in https://github.com/phetsims/inverse-square-law-common/issues/79 there is good use for this same type. @pixelzoom and I think we should move GQ/BackgroundNode to common code and use it in both sims as well as anywhere else that needs it.

[2019-09-13 22:11] zepumph commented on #135
Over in https://github.com/phetsims/scenery-phet/commit/d5e624d7401bfa503810bdc4276b470f3efec959, we added BackgroundNode to scenery-phet. Now we can update the usage in this repo. The one feature that will be removed from it is the debug query parameter: `showOrigin`.

[2019-09-13 22:21] zepumph commented on #135
@pixelzoom please review. I subtyped the common code element to keep all the functionality that was previously there.

[2019-09-17 03:54] pixelzoom commented on #135
👍 closing.

[2019-09-17 03:54] #135 closed

[2020-03-12 21:47] pixelzoom commented on #129
According to @KatieWoe via Slack, Win7 + IE is no longer a supported platform.   So closing this issue.

[2020-03-12 21:47] #129 closed

[2020-09-09 15:02] KatieWoe opened #136 "CT required tandems must be supplied"
[code]

[2020-09-09 18:17] pixelzoom commented on #136
Regression occurred in https://github.com/phetsims/graphing-lines/issues/132 when converting to PressListener, which has Tandem.REQUIRED.  I needed to addd `tandem: Tandem.OPT_OUT`.

Closing.

[2020-09-09 18:17] #136 closed

[2021-01-14 18:48] pixelzoom opened #137 "Graphing Quadratics 1.2 release"
1.2 release is for phet and phet-io brands.

From 1/14/2021 PhET-iO meeting, milestones are:

3/1/21 begin work
3/31/21 publish 1.2

1.2 will be a new release branch.  It requires a full dev test, followed by full RC test.

FYI @amanda-phet  @kathy-phet

[2021-01-14 18:49] pixelzoom opened #138 "create PhET-iO Client Guide"
Related to https://github.com/phetsims/graphing-quadratics/issues/137...

PhET-iO Client Guide is needed for the 1.3 release.

[2021-02-03 16:44] pixelzoom commented on #137
@arouinfar can you remind me what needs to be done for this sim?  Is it just #138 (client guides) and QA process?  Or is there something else that needs to be captured in a GitHub issu?

[2021-02-03 16:44] pixelzoom commented on #137
@amanda-phet  can you remind me what needs to be done for this sim?  Is it just #138 (client guides) and QA process?  Or is there something else that needs to be captured in a GitHub issue?

[2021-02-16 17:50] amanda-phet commented on #137
@kathy-phet and I are thinking we should do another look at studio for this sim since there have likely been some changes to common code and studio practices since we last worked on this sim.

If we have changes to make to the featured list, we can do that with overrides. If anything else comes up, we will let you know @pixelzoom .

[2021-02-18 04:32] pixelzoom opened #139 "Review this sim in Studio"
Pre-requisite for https://github.com/phetsims/graphing-quadratics/issues/137...

In https://github.com/phetsims/graphing-quadratics/issues/137#issuecomment-780009425, @amanda-phet said:

[2021-02-18 04:32] pixelzoom commented on #137
Review of sim in Studio will be tracked in https://github.com/phetsims/graphing-quadratics/issues/139.

[2021-02-18 04:34] pixelzoom commented on #137
@amanda-phet Any other prerequisties for this release, or it is just #139 (review Studio)?

[2021-02-19 18:29] amanda-phet commented on #137
Just #138 and #139, I believe.

[2021-02-27 23:05] amanda-phet commented on #139
This is complete.

@pixelzoom let's schedule a meeting to review some of the questions and changes, and then I'll make GitHub issues for everything!

[2021-03-01 16:58] pixelzoom commented on #139
@amanda-phet and I are going to Zoom on Tuesday, March 2 @ 11:00AM MST.

[2021-03-02 19:36] pixelzoom opened #140 "Instrument separators"
For #137 and #139...

Instrument the horizontal separators in all control panels. Where there is one separator, tandem name 'separator'.  Where there are 2 separators, 'topSeparator' and 'bottomSeparator'.

[2021-03-02 19:38] pixelzoom opened #141 "Change phetioDocumentation for PointTool positionProperty"
For #137 and #139...

For PointTool positionProperty change phetioDocumentation to:

'position of this point tool’s crosshairs'

[2021-03-02 19:39] pixelzoom opened #142 "Changes to PointTool onQuadraticProperty"
For #137 and #139...

For PointTool onQuadraticProperty:

- [x] rename to `quadraticProperty` for consistency with naming in other places
- [x] change phetioDocumentation to "the curve that this point tool is on, null if it is not on a curve”

[2021-03-02 19:40] pixelzoom opened #143 "Make visibleProperty read-only for AccordionBox titles"
For #137 and #139...

 For all AccordionBox titles, set visibleProperty phetioReadOnly: true

[2021-03-02 19:41] pixelzoom opened #144 "Use inputEnabledProperty"
For #137 and #139...

Any Node with an input listener will need to have its `inputEnabledProperty` instrumented.  These Nodes can be identified by searching for `addInputListener` in the graphing-quadratics code.  That includes:

- [x] PointToolNode (point tools)
- [x] All subclasses of GQManipulator (manipulators)

[2021-03-02 19:44] pixelzoom opened #145 "Change phetioDocumentation for PointTool"
For #137 and #139, previously discussed in #77 ...

Change phetioDocumentation for leftPointTool to:
'The point tool that is initially on the left. It is typically grabbed from the left, and its probe is on the right.'

Change phetioDocumentation for rightPointTool to:
'The point tool that is initially on the right. It is typically grabbed from the right, and its probe is on the left.'

[2021-03-02 19:45] pixelzoom opened #146 "Change requests for graphingQuadratics.standardFormScreen.view.rootsNode"
For #137 and #139...

graphingQuadratics.standardFormScreen.view.rootsNode (RootsNode.js):

- [x] When there is 1 root, rightCoordinatesProperty should have the same value as leftCoordinatesProperty (it's currently null).
- [x] rightRootNode should still be invisible if there is 1 root.
- [x] rightCoordinatesProperty should have same initial values as leftCoordinatesProperty.
- [x] Verify what hap

[2021-03-02 21:28] pixelzoom commented on #144
Slack:

Chris Malley 12:57 PM
Is inputEnabledProperty read for general use? I have a request to use it in Graphing Quadratics to support disabling of draggable things.

Kathy Perkins  12:56 PM
@pixelzoom - My impression was it wasn't ready yet.

Michael Kauzmann  12:28 PM
My optimistic hope is by the end of next week.

Kathy Perkins  2:24 PM
Graphing Quadratics can wait for the pickable to be reso

[2021-03-03 16:17] amanda-phet commented on #139
Once #140 #141 #142 #143 #144 #145 #146 are complete, I still ned to go back to studio and feature some more elements.

- `graphingQuadratics.exploreScreen.view.equationAccordionBox.interactiveEquationNode.visibleProperty`
- the point tool nodes and their inputEnabledProperty IDs
- point tool nodes quadraticProperty
- manipulators and inputEnabledProperty

[2021-03-03 17:48] pixelzoom commented on #145
This needed to be done for both the model and view.

In the model (`PointTool`), there was no phetioDocumentation, because PointTool is not a subclass of PhetioObject. I change that by making `PointTool extends PhetioObject` and setting `phetioState: false`.

In the view (`PointToolNode'`), I used the phetioDocumentation from the model:

[code]

[2021-03-03 17:49] pixelzoom commented on #144
Deferred and unassigned until the PhET-iO team tells me that `inputEnabledProperty` is ready for use.  @zepumph @samreid FYI.

[2021-03-03 18:14] pixelzoom commented on #146
Summary of changes in the above commits:

* When there is 1 root, `leftCoordinatesProperty` and `rightCoordinatesProperty` are the same.
* `leftCoordinatesProperty` and `rightCoordinatesProperty` are both intiialzed to (0,0)
* Updated phetioDocumentation for `leftCoordinatesProperty` and `rightCoordinatesProperty`
* Updates phetioDocumentation for `leftRootNode` and `rightRootNode`

Testing in Stu

[2021-03-03 18:19] pixelzoom commented on #143
There are 5 instances of `visibleProperty` that were changed to `phetioReadOnly: true`. Search for "AccordionBox.titleNode.visibleProperty", or see these elements:

graphingQuadratics.exploreScreen.view.equationAccordionBox.titleNode.visibleProperty
graphingQuadratics.exploreScreen.view.quadraticTermsAccordionBox.titleNode.visibleProperty
graphingQuadratics.standardFormScreen.view.equationAccordio

[2021-03-03 18:24] pixelzoom commented on #141
@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

[2021-03-03 18:24] pixelzoom commented on #142
@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

[2021-03-03 18:24] pixelzoom commented on #143
@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

[2021-03-03 18:25] pixelzoom commented on #145
@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

[2021-03-03 18:26] pixelzoom commented on #146
@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

Note this possible change in https://github.com/phetsims/graphing-quadratics/issues/146#issuecomment-789948803:

[2021-03-03 18:31] pixelzoom commented on #140
This change requested created 12 new elements.  Search for "separator":

[code]

@amanda-phet ready for review in master or [1.2.0-dev.1](https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-dev.1/phet-io/).

[2021-03-03 18:50] pixelzoom commented on #139
All change requests except #144 have been addressed and are ready for review.

Assigning this issue to @amanda-phet to follow up on https://github.com/phetsims/graphing-quadratics/issues/139#issuecomment-789834507.

[2021-03-03 21:36] zepumph commented on #144
Sounds good. This issue will be ready to go likely as part of https://github.com/phetsims/scenery/issues/1158 though I can hold off on this repo is you would like. That issue is on hold until https://github.com/phetsims/scenery/issues/1116 is sorted out.

[2021-03-03 22:12] pixelzoom commented on #144
FYI, there's no use of pickableProperty in this sim, which is the subject of  phetsims/scenery#1158.

[2021-03-03 22:15] pixelzoom commented on #144
@kathy-phet said:

I interpret that to mean that we're going to wait to public until `inputEnabledProperty` is ready, so labeling this issue as blocks-publication.

[2021-03-04 22:40] pixelzoom opened #147 "Make visibleProperty read-only for leftRootNode and rightRootNode."
3/4/21 design meeting change request, related to #137 and #139

Make `visibleProperty` read only for leftRootNode and rightRootNode.

[2021-03-04 22:42] pixelzoom opened #148 "Link associated Nodes and checkboxes to the same visibleProperty"
3/4/21 design meeting change request, related to #137 and #139

For all Nodes whose visiblity is controlled via a checkbox, link them to the same Property that is controlled by the checkbox.  For example, `rootsNode`, `vertextNode`, ...

[2021-03-04 22:47] pixelzoom commented on #147
@amanda-phet Done, ready for review in master.

[2021-03-05 02:36] pixelzoom commented on #148
The only element that was capable of using a checkbox Property directly was `graphingQuadratics.focusAndDirectrixScreen.view.pointOnParabolaManipulator.visibleProperty`.

Visibility of other Nodes was derived from a checkbox Property and some other state. For example, `vertextNode` is only visible if the checkbox is checked and the curve has a vertex.

What I did discover is many instances of sett

[2021-03-17 21:49] zepumph commented on #144
This is now ready for use. you can use `inputEnabledPropertyPhetioInstrumented:true` to instrument `inputEnabledProperty` instances in your sim.

[2021-03-17 22:51] pixelzoom commented on #144
Here's a description of the sim-specific `inputEnabledProperty` elements that were added in the above commits.

For point tools, there are 2 for each screen:
[code]

For manipulators:
[code]

@amanda-phet please review in master.

[2021-03-18 00:03] pixelzoom opened #149 "Pass DerivedProperty visibleProperty to Nodes where possible"
Over in https://github.com/phetsims/scenery/issues/1180, I learned that visibleProperty can be derived and passed to Node. As a double bonus, this eliminates the need to use `visiblePropertyOptions: { phetioReadOnly: true }` and the client does not need to observe `visibleProperty`.   So I'm going to use this wherever `visibleProperty` is derived.

[2021-03-18 00:07] pixelzoom commented on #149
Done in the above commit.  Here's the list of elements that were touched. They should still all be read-only, because they are derived from 2 or more other Properties.

[code]

@amanda-phet please review in master.

[2021-03-18 16:50] pixelzoom opened #150 "CT: Breaking API changes detected"
This is happening because we're making incremental improvements to the sim as part of PhET-iO redesign.  The changes are desired.  I don't know how to deal with this, and I'm looking for guidance in https://github.com/phetsims/chipper/issues/1023. @samreid @zepumph FYI.

[code]

[2021-03-18 17:18] samreid commented on #150
I added a note at https://github.com/phetsims/chipper/issues/1023#issuecomment-802106151

[2021-03-18 21:05] pixelzoom commented on #150
Fixed in https://github.com/phetsims/phet-io/commit/ca12876ef5ade5d76d106484d42c3c65283e4bb4, closing.

[2021-03-18 21:05] #150 closed

[2021-03-19 17:08] pixelzoom commented on #137
Milestone were changed in the Project Overview:

3/1/21 begin work
4/15/21 publish 1.3

[2021-04-06 17:43] pixelzoom opened #151 "Review in Studio"
In #137, @amanda-phet said:

I'm promoting this to its own issue because @kathy-phet asked me yesterday about the status of this sim.  This is currently the only task that needs to be done before this sim is ready for QA.

[2021-04-06 17:45] pixelzoom commented on #151
Oops - duplicate of https://github.com/phetsims/graphing-quadratics/issues/139. Closing.

[2021-04-06 17:45] #151 closed

[2021-04-08 17:56] pixelzoom commented on #137
At 4/8/21 Q2 planning meeting, dates were adjusted:

3/1/21 start
5/15/21 end

[2021-04-12 18:05] amanda-phet commented on #140
I didn't see any separators that got missed. So these all look good to me.

[2021-04-12 18:05] #140 closed

[2021-04-12 18:22] amanda-phet commented on #141
All looks good.

[2021-04-12 18:22] #141 closed

[2021-04-12 18:23] amanda-phet commented on #142
These all look good

[2021-04-12 18:23] #142 closed

[2021-04-12 19:25] amanda-phet commented on #143
These all look good to me

[2021-04-12 19:25] #143 closed

[2021-04-12 19:38] amanda-phet commented on #144
Looks like they are all there

[2021-04-12 19:38] #144 closed

[2021-04-12 22:24] amanda-phet commented on #145
Looks good to me.

[2021-04-12 22:24] #145 closed

[2021-04-20 18:17] pixelzoom commented on #113
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-22 21:24] pixelzoom commented on #113
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:24] #113 closed

[2021-04-28 00:26] amanda-phet commented on #146
`graphingQuadratics.standardFormScreen.view.rootsNode.leftRootNode.visibleProperty` already appears to be read only, so I'm not sure I follow. We do what this to be read only, so it seems to be working correctly.

I confirmed that the roots are behaving as requested, which is great!

[2021-04-28 00:26] #146 closed

[2021-04-28 00:27] amanda-phet commented on #147
Looks good!

[2021-04-28 00:27] #147 closed

[2021-04-28 00:49] amanda-phet commented on #148
Verified the above.

I am a little confused- First, did @kathy-phet and I set these to as `phetioReadOnly: true` in overrides.js? I don't remember that, nor did I realize we could do that. I thought we could only specify the featured items in that file.

Second, are these ReadOnly because they can be set by the client within the sim by just checking the box? I can't remember why we'd want these to

[2021-04-28 00:51] amanda-phet commented on #148
It appears my questions are answered in https://github.com/phetsims/graphing-quadratics/issues/149 .

[2021-04-28 00:51] #148 closed

[2021-04-28 00:52] amanda-phet commented on #149
Looks good.

[2021-04-28 00:52] #149 closed

[2021-05-06 16:33] amanda-phet commented on #139
I believe this is complete after reviewing and updating overrides.

[2021-05-06 16:33] #139 closed

[2021-05-10 17:58] pixelzoom commented on #137
Status:  It looks like all GitHub issues have been addressed, but QA process has not started.  So 5/15/21 is no longer a realistic publication dates.  Assigning to @kathy-phet and @amanda-phet to establish new milestones.

[2021-05-13 18:38] pixelzoom commented on #137
@kathy-phet changed milestones to:

3/1/21 start
6/30/21 end

[2021-07-06 22:54] pixelzoom opened #152 "Add phetioDesigned:true"
... to Sim options in main.js

[2021-07-07 15:50] pixelzoom commented on #152
Done in the above commits:
* added `phetioDesigned: true` to Sim options in main.js
* confirmed that `"compareDesignedAPIChanges": true` is in package.json
* `grunt generate-phet-io-api`

I'll leave this issue open until CT has verified.

[2021-07-07 16:30] pixelzoom commented on #152
Running Studio with `?phetioCompareAPI` indicates no problems. Closing.

[2021-07-07 16:30] #152 closed

[2021-07-07 16:38] pixelzoom commented on #137
We're now 1 week past the milestone. Assigning to @kathy-phet to revise.  Feel free to assign back to me when you're ready to proceed with publishing this release.

[2021-08-05 17:01] Nancy-Salpepi opened #153 "Coordinates not visible once off graph"
https://github.com/phetsims/qa/issues/687

In the Focus & Directrix Screen, I wasn't sure if the focus coordinates should still be visible even when the point is off of the graph. This also happens with vertex coordinates in the Standard Form screen.

https://drive.google.com/file/d/1NO1VEzMTavmp4J7H8RNQOCMQ207TGQz0/view?usp=sharing

<img width="963" alt="Screen Shot 2021-08-05 at 12 46 07 PM" src

[2021-08-05 22:14] Nancy-Salpepi opened #154 "Directions for removing vertex coordinates in Client Requests question"
https://github.com/phetsims/qa/issues/687

For the Client request: Prevent Vertex Coordinates from being shown (directions at bottom)
What would be the purpose of the coordinates checkbox then?

Instead of those directions, I was able to prevent the vertex coordinates from being seen by removing the coordinates checkbox by unselecting the visible property (graphingQuadratics.vertexFormScreen.view.

[2021-08-06 14:31] pixelzoom commented on #153
Coordinates are attached to interactive points (which PhET calls "manipulators"), and we therefore generally do not show them if the manipulator is off that graph.  So in this case, it's correct that the Focus coordinates are not shown.

But this raises another question: Should the Focus manipulator be constrained to always be on the graph?  We do constrain the Point on Parabola ("Point") manipula

[2021-08-06 14:35] pixelzoom commented on #153
Note that we also don't do anything to keep the Directrix (horizontal green dashed line) on the graph.  And the Directrix is a function of the Focus point.  So if we mess with trying to keep the Focus on the graph, should we also try to keep the Directrix on the graph?  I can see why we did not do this.

[2021-08-06 14:44] pixelzoom commented on #153
@amanda-phet Also please comment on whether it's OK that the Focus coordinates are not shown when the Focus is off the graph.  That was the issue that @Nancy-Salpepi's originally reported, and you should verify whether that's OK.  If it's not OK, this will be an expensive change - we'll need to find another way to display Focus coordinates when the manipulator is not visible.

[2021-08-06 18:05] amanda-phet commented on #153
It is ok to not see the coordinates if the manipulator is outside the graph viewing area.

I don't want to limit the manipulator to always being visible, because if dragging a parabola caused the focus to be limited, it would change the graph of the parabola, and that seems like a poor user experience.

Let's leave the functionality and visibility for the things discussed in this issue as-is. Than

[2021-08-06 18:05] #153 closed

[2021-08-09 23:05] pixelzoom commented on #154
Dev testing is done, and this is the sole issue preventing creation of the 1.2 release branch. @amanda-phet is on vacation, and we want to create the release branch asap after publishing the dev version (it's been 5 days.)

Since this is a possible change to a Client Requests guide, it does not impact the code base. So I'm going to proceed with creating the release branch, and we'll patch any chan

[2021-08-09 23:10] pixelzoom opened #155 "Update credits for 1.2 release"
For https://github.com/phetsims/qa/issues/692.

I'll add Nancy Salpepi proactively, since she created issues for the dev test.

[2021-08-09 23:11] pixelzoom commented on #155
@KatieWoe Here are the current credits. Towards the end of RC testing, me know who you'd like to add.

<img width="689" alt="screenshot_1159" src="https://user-images.githubusercontent.com/3046552/128785547-734586b8-de51-4d0b-8769-a5aed3374054.png">

[2021-08-09 23:24] pixelzoom commented on #154
Since this wasn't addressed during dev testing, it's now associated with RC testing, for https://github.com/phetsims/qa/issues/692.

[2021-08-09 23:31] pixelzoom commented on #137
8/9/2021:
* published 1.2.0-rc.1 for full RC testing in https://github.com/phetsims/qa/issues/687

[2021-08-12 22:41] pixelzoom opened #156 "Change image file names and imports."
For https://github.com/phetsims/chipper/issues/1060 ...

Use camelcase for image file names, and make imports match file names.

Deferred until the 1.2 release for #137 has been completed.

[2021-08-17 14:50] Nancy-Salpepi opened #157 "Equation for y=ax^2 lies behind curves causing view to sometimes be obstructed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome 92.0.4515.131

**Problem description**
https://github.com/phetsims/qa/issues/692

In the explore screen, the equations lie in front of the curves/lines except for y=ax^2. In some instances, the equations is blocked and unreadable.

**Steps to reproduce**
Here is one instance:

1. In the Explore screen, check all o

[2021-08-17 19:31] amanda-phet commented on #157
I think the equation and curve for the main (red) curve are always in the front, since those are the most important. I just checked, and y=ax^2 seemed consistent with the other terms (y=bx and y=c) in that their equations are behind the red curve. We had to accept that in some cases, equations might be occluded, such as in this case:
![image](https://user-images.githubusercontent.com/7852916/12978

[2021-08-17 19:31] #157 closed

[2021-08-18 19:00] amanda-phet opened #158 "Discussion about the point tool"
Is this a common component? I can't find it in common code anywhere, and doesn't seem to be shared with graphing lines as far as I can tell. (I need a refresher, even though I'm sure we talked about this back when we worked on the sim).

@Nancy-Salpepi brought up some cases where it might be nice to see the same value for the root and the value the point tool is detecting, instead of rounding on t

[2021-08-18 19:11] Nancy-Salpepi opened #159 "Slight overlap between Point on Parabola Coordinates and Accordion Box"
https://github.com/phetsims/qa/issues/692

In the Focus and Directrix screen, I noticed a slight overlap between the Point on Parabola values and the accordion box. After speaking with @amanda-phet, we were wondering if there was an area to make space so that this overlap doesn't happen?

<img width="444" alt="Screen Shot 2021-08-18 at 3 18 02 PM" src="https://user-images.githubusercontent.com/873

[2021-08-18 19:36] ariel-phet commented on #158
@amanda-phet I think you could certainly make the "three bar grab area" narrower horizontally.

1. If I recall, the reason for making the grab area this size would be to discourage occluding the readout with your finger while moving the tool. However, I am not sure that is of major concern considering the way this tool is used.

2. The pointer area for the tool is currently the entire tool (includ

[2021-08-18 21:11] Nancy-Salpepi opened #160 "Point on Parabola coordinates are outside layoutBounds."
**Test device**
Mac11 (m1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/692

In the Focus and Directrix screen, when the point on parabola is all the way on the left in quadrant III, the coordinate values box is cut off.

**Visuals**

Normal screen size:
<img width="444" alt="Screen Shot 2021-08-18 at 4 57 25 PM" src="https://us

[2021-08-19 18:41] amanda-phet commented on #160
This is definitely going outside of the dev bounds
![image](https://user-images.githubusercontent.com/7852916/130125811-88c60acf-4a55-4d5f-9096-dab6e23946a9.png)

But I'm not sure if it's a pedagogical issue. The actual coordinates aren't that important to see at every single pixel (just that you can see a number of points on the parabola so you could verify that they make the quadratic true).

If

[2021-08-19 20:48] brooklynlash opened #161 "Point Tool coordinates are outside of layoutBounds."
**Test device**
Lenovo

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/692, may be similar to [#106](https://github.com/phetsims/graphing-quadratics/issues/160) but I think a new issue is warranted.
Able to be seen on all screens. The gray draggable coordinate box with the circle on the right can have coordinate points partial

[2021-08-20 12:48] Nancy-Salpepi opened #162 "Point of parabola coordinates are in a different location in State Wrapper"
**Test device**
Mac11 (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/692

In the State Wrapper: In the Focus and Directrix Screen, when "set state rate" has a value of zero and the "set state now" button is clicked, the coordinates for the Point on Parabola are sometimes in a different place in the downstream sim as compared

[2021-08-20 12:50] Nancy-Salpepi commented on #162
Also seen in Studio Wrapper

[2021-08-20 15:37] Nancy-Salpepi opened #163 "Text is bolder in screenshots than in the original sim"
**Test device**
MacBook Air (m1 chip) and iMac

**Operating System**
11.4 and 10.15.7

**Browser**
Safari and chrome

**Problem description**
https://github.com/phetsims/qa/issues/692

This is more of an FYI-- when taking screenshots in the Screenshot Wrapper, the text in the screenshot appears bolder than in the original. Everything else is the same aside from that. I also noticed this happening

[2021-08-20 16:17] amanda-phet commented on #154
I discussed this with @Nancy-Salpepi and decided it makes sense to include directions for the Vertex Form screen that just recommend hiding the checkbox. I will also update the other examples to use the Focus & Directrix screen.

[2021-08-20 16:23] Nancy-Salpepi commented on #154
@amanda-phet hiding the Coordinates checkbox correct?

[2021-08-20 16:32] amanda-phet commented on #154
Yes, thanks, I wasn't clear about that.

[2021-08-20 16:50] amanda-phet commented on #154
I believe this is much better now. Over to @Nancy-Salpepi to review.

[2021-08-20 17:00] Nancy-Salpepi commented on #154
Directions work perfectly now.

[2021-08-22 13:01] pixelzoom commented on #154
Reopening.

@amanda-phet Where did you include these instructions? There are no commits associated with this issue. Did you put issues numbers in you commit messages?  Did you do this in both master and the release branch?

[2021-08-22 14:19] pixelzoom opened #164 "Weird behavior on Firefox with small window while dragging."
For https://github.com/phetsims/qa/issues/692, reported by @brooklynlash via Slack DM. She said:

![graphingquadfirefox](https://user-images.githubusercontent.com/3046552/130358421-6322fa89-48e6-4d75-b50e-995c0e5b72b5.gif)

[2021-08-22 14:23] pixelzoom commented on #164
@brooklynlash Just to make sure that I understand...  While you're dragging the point tools, all of the graphical elements shift around slightly. And some line widths appear to get thicker, like the borders on panels.  Is that correct?  Anything else that I missed from watching the GIF?

And could you also please put into in this issue about your test platform? (machine, OS, browser, etc.)

[2021-08-22 14:27] pixelzoom commented on #163
@amanda-phet I don't think this is something that should block publication. Do you agree?

@Nancy-Salpepi a couple of questions...

(1) Is all text bolder, or only the text that's rendering math symbols?

(2) Can you reproduce this in other sims?  Or just in Graphing Quadratics?

[2021-08-22 14:29] pixelzoom commented on #164
@brooklynlash Could you also please try some other sims, using phettest?  I'd like to establish that this is a general problem, and not specific to Graphing Quadratics.

[2021-08-22 17:16] pixelzoom commented on #158
Point tool is not common code. And there are in fact different implementation in graphing-quadratics and graphing-lines, because they have different requirements and work with different underyling models (straight lines vs quadratics).   I raised this concern in https://github.com/phetsims/graphing-quadratics/issues/18 during the implementation of graphing-lines. @amanda-phet and @ariel-phet parti

[2021-08-22 17:25] pixelzoom commented on #158
Here's an example of a 3D-looking tool in beers-law-lab.  It uses `ShadedRectangle`, which is in common code.

<img width="231" alt="screenshot_1198" src="https://user-images.githubusercontent.com/3046552/130364256-87fe1cc1-39ee-4c04-bcde-b9adc0625d3e.png">

[2021-08-22 17:32] pixelzoom commented on #159
The screenshot below shows the full context.

The coordinates are not overlapping anything in the accordion box, so there is no usability impact here.  But if you don't want this overlap to occur, then you have 1 option - add more horizontal space between the graph and the accordion box.  I don't think the UI will benefit in any way by increasing that space, so my recommendation is "do nothing".

[2021-08-22 17:34] pixelzoom commented on #159
Here's the closest that I could come to making the coordinates overlap something in the accordion box:

<img width="1006" alt="screenshot_1200" src="https://user-images.githubusercontent.com/3046552/130364514-67ffca9c-2142-4594-a225-9a8beaea0da9.png">

[2021-08-22 17:35] pixelzoom commented on #159
Another option would be to limit coordinates to 1 decimal place.  But there's probably a good reason why they are 2 decimal places.

[2021-08-22 17:41] pixelzoom commented on #160
That's not possible, it does not work for many situations, like the one shown below. We decided that the "point on parabola" coordinates are always positioned based on the sign of it's x coordinate.

There are 3 options for resolving this:
(1) Reduce the size of all coordinate displays. Not recommended.
(2) Shift the graph to the right. This will exacerbate https://github.com/phetsims/graphing-qua

[2021-08-22 17:52] pixelzoom commented on #161
This is a problem we encountered before, but it doesn't appear to have been documented in a GitHub issue.

What we had decided previously is that we wanted the graph to be as large as possible. So if someone had a problem viewing coordinates using one point tool, they should use the other point tool. That is one of the reasons why we have point tools with probes on different sides.

If you want th

[2021-08-22 17:56] pixelzoom commented on #162
My first thought was that `pointOnParabolaProperty` (the coordinates of the Point On Parabola) was not instrumented. But I can see that it is in fact instrumented.  In FocusAndDirectrixModel.js:

[code]

[2021-08-22 18:00] pixelzoom commented on #162
`pointOnParabolaProperty` can be changed in 2 ways:
* directly, via its manipulator
* indirectly, by changing some aspect of the quadratic

So depending on the order in which state is restored, there may be a situation here where the state of `pointOnParabolaProperty` is correct restored, and then that state is changed to something incorrect as other state is restored.

[2021-08-22 18:17] pixelzoom commented on #162
What I described in https://github.com/phetsims/graphing-quadratics/issues/162#issuecomment-903306795 was indeed causing this problem.  In the above 2 commits, I fixed this in master and 1.2 branches.  I tested with the State Wrapper and Studio scenarios that @Nancy-Salpepi reported.

@Nancy-Salpepi please check in master. If it looks OK, please change the label of this issue to "fixed-awaiting-de

[2021-08-22 18:29] pixelzoom commented on #160
@amanda-phet this same issue was discussed in https://github.com/phetsims/graphing-quadratics/issues/91.   You concluded that this was OK.   It's fine if you'd like to change your mind, just reminding you of the history.

[2021-08-22 18:34] pixelzoom commented on #159
Note that there is precedent for allowing Point On Parabola to overlap, even with other interactive UI components.  See https://github.com/phetsims/graphing-quadratics/issues/126.

[2021-08-22 18:44] pixelzoom commented on #164
I could not reproduce this on macOS 11.5 (latest) with Firefox 89.0.2.   I tried with iframe and no iframe, using the RC links:
https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-rc.1/phet/graphing-quadratics_all_iframe_phet.html
https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-rc.1/phet/graphing-quadratics_all_phet.html.

I then update to Firefox 91.0.1 (latest) and still co

[2021-08-23 12:37] Nancy-Salpepi commented on #163
(1) All text is bolder--if you look at "quadratic terms" and "equations" you can see the difference here (screenshot on left)
<img width="697" alt="Screen Shot 2021-08-23 at 8 30 34 AM" src="https://user-images.githubusercontent.com/87318828/130447777-c21bd366-32cd-4a43-b3dc-9af1f795037f.png">

(2) I can reproduce with other sims. I checked pH scale screen shot wrapper and noticed the same thing:

[2021-08-23 12:45] Nancy-Salpepi commented on #154
Sorry. My fault!

[2021-08-23 13:11] Nancy-Salpepi commented on #162
@pixelzoom I'm still seeing the problem. Was I supposed to do something else aside from:
Private window-->Master-->PhETMarks-->graphing quadratics-->state wrapper ?

[2021-08-23 13:55] pixelzoom commented on #162
I re-tested with master, using the Studio and State Wrapper scenarios shown in the screenshots above. I'm not seeing the problem.

@Nancy-Salpepi If you're local copy of phetmarks, did you run pull-all.sh to update your local copy?  If you're running from phettest.colorado.edu, did you push the "Pull All" button?  Or perhaps your browser is caching?

You can also verify in 1.3.0-dev.1, which I jus

[2021-08-23 14:14] Nancy-Salpepi commented on #162
Thank you for the help @pixelzoom.
The issue looks fixed.

[2021-08-23 14:23] pixelzoom commented on #162
Excellent, thanks @Nancy-Salpepi.  Ready for testing in the next RC.

To verify in the next RC, test the scenarios shown in https://github.com/phetsims/graphing-quadratics/issues/162#issue-975580005 and https://github.com/phetsims/graphing-quadratics/issues/162#issuecomment-902668369.

[2021-08-23 14:33] amanda-phet commented on #154
Sorry about that @pixelzoom , I forgot that this was done in a different repo.

Yes, that was the only commit that I made.

[2021-08-23 14:37] amanda-phet commented on #163
I don't think this needs to block publication for this sim. If it ever causes and issue with legibility I'd want to investigate, but I don't think we need to address this at this time.

[2021-08-23 14:46] pixelzoom commented on #163
Since this is a general problem that affects all sims, I'm going to transfer this issue from graphing-quadratics to joist.  And I'll add it to developer meeting.

[2021-08-23 15:04] amanda-phet commented on #160
Thank you! I was starting to think this sounded familiar, and since I pointed out that it's not a pedagogical issue, I think we should still leave it as it is.

[2021-08-23 15:04] #160 closed

[2021-08-23 15:06] amanda-phet commented on #161
I agree that we should do nothing for this issue. There are two potential point tools that the user can use, so I'm not concerned about the usability.

[2021-08-23 15:06] #161 closed

[2021-08-23 15:11] amanda-phet commented on #159
@pixelzoom thanks for finding those more dramatic cases. I thought if it was just a few pixels of overlap we might consider finding the room, since it's aesthetically annoying, but the max amount of possible overlap is too great to be able to find the space to avoid it. So I think we should leave this as-is.

[2021-08-23 15:11] #159 closed

[2021-08-23 15:39] Nancy-Salpepi opened #165 "Rendering order is incorrect for snapshot restored via PhET-iO."
**Test device**
MacBook Air

**Operating System**
11.4

**Browser**
chrome and safari

**Problem description**
https://github.com/phetsims/qa/issues/692

Studio Wrapper:

In the Vertex Form and Focus and Directrix screens, the parabola (black) turns gray in the area that overlaps the equation of the snapshot parabola.

In the Explore and Standard Form screens, The snapshot equation and snapshot pa

[2021-08-23 16:25] Nancy-Salpepi commented on #165
Also seen in State wrapper

[2021-08-23 16:34] amanda-phet commented on #158
Thanks for all of this background info, @pixelzoom

I’d like to move forward with the improvements to the point tool. I really like the idea of the reusable component, and I prefer the appearance, but it would delay things significantly because Chris is going on vacation soon. Also, factoring out the point tool body later on sounds much easier than doing it now during the RC process. If getting th

[2021-08-23 16:40] Nancy-Salpepi commented on #165
Screenshot parabola also moves forward when other equations aside from the main are involved:

<img width="470" alt="Screen Shot 2021-08-23 at 12 33 08 PM" src="https://user-images.githubusercontent.com/87318828/130484727-e5ffdc93-eab5-4114-8d03-9dab2e064926.png">

<img width="470" alt="Screen Shot 2021-08-23 at 12 37 59 PM" src="https://user-images.githubusercontent.com/87318828/130484751-df84aab

[2021-08-23 17:21] pixelzoom commented on #165
Thanks @Nancy-Salpepi.  The rendering order is different - saved curves and equations are in front, when they should be behind.  This is probably due to the order of restoring elements.   I'll investigate.

[2021-08-23 17:52] pixelzoom commented on #165
Here's the relevant code, in GQGraphNode.js:

[code]

So when the user took a snapshot (`savedQuadraticProperty`), we want the snapshot to be in the foreground "so the user can see it".    For example: In the Explore screen, immediately after pressing the snapshot button, the sim (correctly) looks like this in Studio and in the Preview Sim:

<img width="478" alt="screenshot_1207" src="https://user

[2021-08-23 18:24] pixelzoom commented on #165
In the above commits, this was fixed in master and 1.2 branches.

@Nancy-Salpepi please verify in master, or in this dev version that was built from master:
https://phet-dev.colorado.edu/html/graphing-quadratics/1.3.0-dev.2/phet-io/

You should test these 2 situations to confirm that rendering order is correct:

(1) Immediately after pressing the snapshot button, but before making any other change

[2021-08-23 19:12] pixelzoom commented on #154
Patched in the graphing-quadratics-1.2 branch of phet-io-client-guides.

Ready for verification in the next RC.

[2021-08-23 19:14] pixelzoom commented on #164
@amanda-phet can you please comment on whether this is blocking for Graphing Quadratics 1.2 release?  My feeling is that it is not blocking, and is highly likely to be a general "graphics artifact" issue that affects all sims.

[2021-08-23 19:25] Nancy-Salpepi opened #166 "Slider remains highlighted when not in use"
**Test device**
iPad Air 2

**Operating System**
14.7.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/692

When using the query parameter: stringTest=double, in the Vertex and Directrix screen, the slider for the "p" variable remained highlighted when not in use.

**Steps to reproduce**
Trying to reproduce

**Visuals**
![IMG_1389](https://user-images.githubuser

[2021-08-23 19:39] kathy-phet commented on #158
I like the new mock-up of the "coded" point tool.

Can you clarify will the point tool always be two decimals, or will it only go to two decimals on special points?
If its always two decimal precision, will it be (9.1, 9.1) if it is (9.10, 9.10) point, or will (9,9) be displayed as (9.00, 9.00)? That is will it ever show only 1 decimal or no decimal places if it is precise value?

[2021-08-23 19:40] amanda-phet commented on #164
I would like to confirm that it's a general issue and not sim-specific, but that is my gut feeling as well. And when that is the case, I prefer not to let it block the specific sim, and handle it in a way that fixes it for all sims.

[2021-08-23 19:43] pixelzoom commented on #158
To clarify... That is not what we're planning to do for 1.2 release.  That will be longterm work that will apply to graphing-quadratics, graphing-lines, and graphing-slope-intercept.

We are not proposing any change to current behavior. It will continue to work as it does now - trailing zeros are stripped.

No PhET-iO change should be necessary.

[2021-08-23 19:46] kathy-phet commented on #158
Yes, I understand the body code would be later, and long term work. Thanks for clarifying on no API changes. If you are both happy to move forward, go for it!

[2021-08-23 20:06] pixelzoom opened #167 "Generalize "point tool body"."
As discussed in https://github.com/phetsims/graphing-quadratics/issues/158...

graphing-lines and graphing-quadratics both have "point tools". But they have different implementations of PointTool (model) and PointToolNode (view).  The reason for that is documented in #18. (graphing-slope-intercept consists of a screen from graphing-lines, so uses the point tool from graphing-lines.)

Both implemen

[2021-08-23 20:07] pixelzoom commented on #167
This issue is deferred until Graphing Quadratics 1.2 is published https://github.com/phetsims/graphing-quadratics/issues/137.

[2021-08-23 20:08] pixelzoom commented on #158
The long-term work to generalize "point tool body" and migrate it to common code is tracked in https://github.com/phetsims/graphing-quadratics/issues/167.

[2021-08-23 20:09] Nancy-Salpepi commented on #165
No issues.

[2021-08-23 20:28] pixelzoom commented on #158
Done, pushed to master and 1.2 branches.  @amanda-phet please review in master.

I asked @amanda-phet about whether to maintain a constant font size for the coordinate values, or to scale them to fit the point tool's display area.  The former would required a font size change, from 15 to 13.  She replied on Slack:

[2021-08-23 20:40] pixelzoom commented on #166
I'm testing on an iPad6 with iPadOS 14.7.1 and mobile Safari.  I cannot reproduce with https://phet-dev.colorado.edu/html/graphing-quadratics/1.2.0-rc.1/phet/graphing-quadratics_all_phet.html?stringTest=double.  I put the sim in the exact state shown in the above screenshot, continued to move the "p" slider, and it's highlight behaved as expected.

@Nancy-Salpepi How did you get the sim into the s

[2021-08-23 20:44] Nancy-Salpepi commented on #166
@pixelzoom I wish I knew how I got it to happen. The sim was still usable...it just stayed highlighted regardless of what actions I took afterwards. I know I was playing around with the snapshot tool and moving the points around--using both the sliders and interactive points when it occurred.

[2021-08-23 20:54] amanda-phet commented on #158
Something about the gradient was off, so I revised the artwork.

Can you please integrate the newer artwork and assign back to me to check?

[2021-08-23 21:18] brooklynlash commented on #164
@pixelzoom I was on Win10 Firefox, but have seen similar behavior on Chromebook as well.

I can try other sims on phettest if you think it still needs confirmation that it is not sim-specific.
Let me know what else you need.

[2021-08-23 21:31] pixelzoom commented on #158
Artwork revised in the above commits, in master and 1.2 branches. @amanda-phet please verify in master.

[2021-08-23 21:35] pixelzoom commented on #164
@brooklynlash Yes, please test a few other sims.  As @amanda-phet mentioned in https://github.com/phetsims/graphing-quadratics/issues/164#issuecomment-904066545, we'd like to establish whether this is a general issue, or specific to this sim. (I suspect it's general.)

[2021-08-23 21:39] liam-mulhall opened #168 "HTML comment in PhET-iO guide"
I was skimming through the guide and I noticed there's an HTML comment that somehow got displayed. Should be an easy fix. Wasn't sure if this was sim-specific or general, so move the issue if necessary. For https://github.com/phetsims/qa/issues/692.

See the comment circled in the screenshot below.
![comment](https://user-images.githubusercontent.com/60749003/130522862-b0b2245d-8817-4e02-8d13-5f13

[2021-08-23 22:08] pixelzoom commented on #168
This is for @amanda-phet, she's the lead designer for graphing-quadratics.  @amanda-phet please also check whether this needs to be fixed in a general template.

[2021-08-23 22:15] amanda-phet commented on #158
Looks great- thank you!

[2021-08-23 22:28] pixelzoom commented on #158
Ready for testing in the next RC.

[2021-08-24 17:05] amanda-phet opened #169 "Improve point tool's perceived accuracy"
@kathy-phet brought up concerns about the point tool displaying inconsistent values. We know this is because in these cases, not all locations are at exactly x=3 (could actually be 2.999 or 3.001), and the y-value is changing faster than the x-value.

![image](https://user-images.githubusercontent.com/7852916/130658801-03566ba6-8386-45c3-9cfc-abf237e12930.png)

![image](https://user-images.githubu

[2021-08-24 17:16] pixelzoom commented on #169
Code that handles snapping to the quadratic is in PointToolNode.js:

[code]

[2021-08-24 17:24] pixelzoom commented on #169
Done in master and 1.2 branches. This turned out to be very easy to add.

@amanda-phet @kathy-phet please review in master.

[2021-08-24 17:30] pixelzoom commented on #166
Since neither of us can reproduce it, I'm not sure how to proceed here.   But I don't think this needs to be fixed for the 1.2 release.  @amanda-phet do you agree?

[2021-08-24 19:30] pixelzoom commented on #169
@kathy-phet would like to make it easier to snap to integer x values.  Full Slack discussion below. I'm going to add a query parameter that lets you set a tolerance of snapping x to integers.

<details>
<summary>Slack discussion</summary>

Kathy Perkins  11:47 AM
I think the way the point tool is working now is good. I couldn't get to every "special point" it seemed due to exact pixel locations, b

[2021-08-24 19:48] pixelzoom commented on #169
In the above commits (to master and 1.2 branches), I added snapping of x to integer values.   This issue is now labeled to indicate that it blocks publication, until we wrap up this issue.

Query parameter `xSnapTolerance` has a range of [0,0.5], and a default of 0.05 (as suggested by @kathy-phet).   When the x coordinate (as displayed on the point tool) is `xSnapTolerance` or closer to an integer

[2021-08-24 20:30] KatieWoe commented on #155
Brooklyn Lash and Emily Miller should both be added.

[2021-08-24 20:51] pixelzoom commented on #155
QA credits were updated in master and 1.2 branches in the above commits, shown in the screenshot below.  I'll leave this issue open in case any revisions are needed for the next RC.

<img width="637" alt="screenshot_1218" src="https://user-images.githubusercontent.com/3046552/130688102-5c338d31-d7ef-4eac-a289-d70de95ccff7.png">

[2021-08-25 14:36] KatieWoe commented on #164
It does seem to happen with other sims. I was checking published. It didn't look exactly the same on my machine, even on graphing-quadratics, and this is likely because it is a bit dependent on the resolution. But shifting of panel lines and even sometimes text on Firefox does not seem to be sim dependent.

[2021-08-27 18:11] amanda-phet opened #170 "Problem with Point Tool background color."
I can tell the point tool is "on" the curve because it feels attached. When I try to drag it away, it doesn't move until I drag quite a bit. So even though the point tool is on the curve, the background is white instead of the color of the curve. I get to this point by dragging the tool along the curve, but right at the vertex the background color changed.

![image](https://user-images.githubuserc

[2021-08-27 18:23] KatieWoe opened #171 "Link `coordinatesNode.visibleProperty` to `viewProperties.coordinatesVisibleProperty`, delete section from Client Requests guide."
For https://github.com/phetsims/qa/issues/700. I noticed that for the "Hide Coordinates of the Vertex" section, the Standard Form screen did not have instructions, even though it has a vertex and coordinates. I also noticed that vertex form screen did not have the checkbox enabled option but the focus and directrix screen did.
<img width="731" alt="moreinfo" src="https://user-images.githubusercont

[2021-08-29 00:07] pixelzoom commented on #170
@amanda-phet @Nancy-Salpepi @KatieWoe please provide information on what type of device (mouse or touch) you're using for the tests you've reported above.  It would also be helpful to know if you can reproduce the same behavior on mouse and touch devices.

[2021-08-29 00:21] pixelzoom commented on #170
I took a quick look at this.

Relevant code in `PointTool` (model), the quadratic that the point tool is on is derived:

[code]

In PointToolNode (view), there's a listener that observes the model and changes the tool's background color:

[code]

In `PointToolDragListener` (view) we snap to the curve:

[code]

The model and view are both calling `getQuadraticNear`.  The problem (I believe) is that

[2021-08-29 21:27] pixelzoom commented on #165
I investigated options (2). It's doable, but it's going to make the code mighty complicated.  I'm not convinced it's worth it, because I don't see the point in creating an initial state where the snapshot is completely covered by the primary quadratic.

That said, here's a "documentation patch" that I'd like to apply, regardless of which option we decide to go with:

<details>
<summary>Patch</summ

[2021-08-30 12:57] Nancy-Salpepi commented on #170
I was using a trackpad initially on my MacBook air when I was able to change the background color of the vertex. I can reproduce the same results with a mouse. I was able to do this on the published sim as well as 1.1.0-rc.1 and 1.2.0-rc.1.

[2021-08-30 14:46] KatieWoe commented on #170
I was on Win 10 Chrome with a trackpad

[2021-08-30 16:47] pixelzoom commented on #165
@amanda-phet and I discussed this issue via Zoom.  She said supporting the case identified by @KatieWoe in https://github.com/phetsims/graphing-quadratics/issues/165#issuecomment-907465826 isn't a pedagocial concern, and we could publish 1.2 without addressing that case.  And even longterm, we could probably not address that case and it would never present a problem in practice.  So I've removed t

[2021-08-30 16:51] pixelzoom commented on #170
@amanda-phet and I discussed this via Zoom.  Since this a problem in the published version, and the priority for 1.2 is PhET-iO support (I think?), then I'm tempted to defer this until a future release.  But neither of us are clear on priorities for this release, we've gone far down the "improve the point tool" path, and this problem seems to be more pronounced because of that.  So we both would l

[2021-08-30 17:59] amanda-phet commented on #171
OK I made this as comprehensive as possible and added all of the relevant properties. @pixelzoom the commit should be right above this comment.

[2021-08-30 18:00] pixelzoom commented on #165
I spent another 30 minutes on this, then discovered that add the additional Property will require not only instrumenting that one Property, but also instrumenting the graphs, so that they have a tandem that can be used to instrument that new Property.  But in GQGraphNode.js (where this happens), there is a very clear/explicit decision NOT to instrument graphs:

[code]

So continuing with this woul

[2021-08-30 18:25] pixelzoom commented on #171
Patched in the 1.2 branch, ready for testing in the next RC.  To test:

1. Go to the Wrapper index.
2. Click on the "Client Requests" link.
3. The last section in the document should look like this:

<img width="853" alt="screenshot_1227" src="https://user-images.githubusercontent.com/3046552/131386628-52b83028-9d0f-44a4-b069-0fb79d2496c8.png">

[2021-08-30 19:25] pixelzoom commented on #170
I have a new theory about the cause of this problem.  There appears to be a problem with Quadratic `getClosestPoint`, the method that gets the point on a curve that is closest to a specified point.  If I print the results of this method to the console, here's what I see near the vertex, whenever the background color of the point tool is incorrect:

`getClosestPoint` starts by getting the roots, by

[2021-08-30 19:45] pixelzoom commented on #170
Adding this to the end of Quadratic `getClosestPoint`:

[code]

For y = -6x^2 + 6x + 0, I see console output like this when dragging the point too around the vertex of the curve:

[code]

Confirming by calling `Utils.solveCubicRootsReal` directly in the console:

[code]

The documentation for `Utils.solveCubicRootsReal ` says:

[code]

While `NaN` is indeed a `{number}`, I doubt that it's consider

[2021-08-30 19:59] pixelzoom commented on #170
I added a break point to `Utils.solveCubicRootsReal`.  Then typed this into the browser console:

Stepping through the code, the problem looks like it's in these lines:

[code]

For Line 474, `qX = -9.922903012752013e-8`, `q = 0.004629629629629613`
For Line 475 `qX = NaN`, `r = 0`
For Line 476, `rr = NaN`, `q = 0.004629629629629613`

[2021-08-30 20:05] pixelzoom commented on #170
This is as far as I can take this. I'll need @jonathanolson's assistance.

[2021-08-30 20:47] jonathanolson commented on #170
It looks like this is definitely a single-real-root scenario (roots are 0.5 - 0.117851i, 0.5 + 0.117851i, 0.5). The discriminant was barely above the `1e-7` threshold. It looks like the best option is to increase the threshold, since we've seen a case where numerical imprecision will trigger the wrong case.

[2021-08-30 20:47] jonathanolson commented on #170
Committed a hopeful fix above, can you verify?

[2021-08-30 20:58] pixelzoom commented on #170
Testing with  y = -6x<sup>2</sup> + 6x + 0 in the _Explore_ screen ...

It's even worse now. It returning `[NaN, NaN, NaN]` more often near the vertex, and failing for points that are not at the vertex. For example:

[code]

[2021-08-30 21:07] pixelzoom commented on #170
@jonathanolson fixed his fix in the above commit, and it's bettter.  But it's still failing, for example:

[code]

[2021-08-30 21:44] pixelzoom commented on #170
If I decrease the discriminate threshold further in `Utils.solveCubicRootsReal`, from 1e-8 to 1e-9, the problem appears to go away.  Changing this threshold (as has already been done in https://github.com/phetsims/dot/commit/272fb9f54a8365317739f3d11e72c1f7f374b359) is a concern because it could break other sims.  How about if we revert to the original threshold of 1e-7, and add an optional parame

[2021-08-30 21:57] pixelzoom commented on #170
Suggested patch:

[code]

[2021-08-30 23:16] jonathanolson commented on #170
Handled above, and integrated assertions to every single type of way roots could be returned. Aqua fuzz passed. @pixelzoom can you verify?

[2021-08-30 23:58] pixelzoom commented on #170
Thanks @jonathanolson, verified in master.

I change graphing-quadratics Quadratic.js to use `discriminantThreshold = 1e-9`.

Patched the 1.2 release like this:

[code]

[2021-08-31 00:06] pixelzoom commented on #170
@amanda-phet please review in master before I create the next RC.  Take a close look at the point tool behavior of course. But also please look at the Point On Parobola manipulator - it uses the same code as point tool to keep the point on the curve.

[2021-08-31 15:46] amanda-phet commented on #170
The point tool seems to be working great. Is there something specific to test for the point on parabola manipulator? The point is staying attached to the curve just fine with various curves, and the coordinates are accurate. Let me know if there's anything else to verify for that, but I think it all looks good!

Thanks for hunting down the source of the problem.

[2021-08-31 16:33] pixelzoom commented on #170
Thanks @amanda-phet. Nothing specific to test for Point On Parabola, just that it remains attached to the curve.

[2021-08-31 16:51] pixelzoom commented on #170
This issue is fixed and ready for testing in the next RC.

[2021-08-31 19:00] stemilymill commented on #169
The snapping behavior of the point tool is correct, but I noticed that in the Focus & Diretrix screen, the Point on Parabola graph option shows the old behavior with multiple y-values for one x-value. Is this ok, or should the behavior match the point tool?

![same x different y graph options point on parabola](https://user-images.githubusercontent.com/85511101/131560644-ecee9c0e-6355-410d-909d-d3

[2021-08-31 19:43] KatieWoe commented on #170
This looks ok in rc.3. Will reopen if something comes up.

[2021-08-31 19:43] #170 closed

[2021-08-31 19:53] KatieWoe commented on #171
The coordinatesNode does not seem to be featured. It also does not change the state of the checkbox. Is this alright?

[2021-08-31 20:00] #165 closed

[2021-08-31 20:30] KatieWoe commented on #171
Video of https://github.com/phetsims/graphing-quadratics/issues/171#issuecomment-909566884
![checkboxuncheck](https://user-images.githubusercontent.com/41024075/131571603-67b55037-8a14-4340-9d98-4b6559b951f9.gif)

[2021-08-31 21:34] KatieWoe commented on #155
No updates for rc.3

[2021-08-31 22:05] KatieWoe commented on #171
Otherwise this looks ok

[2021-09-01 14:16] pixelzoom opened #172 "Make Point On Parabola snap to displayed x value, like Point Tool."
In https://github.com/phetsims/graphing-quadratics/issues/169#issuecomment-909518229, @stemilymill reported:

![same x different y graph options point on parabola](https://user-images.githubusercontent.com/85511101/131560644-ecee9c0e-6355-410d-909d-d313e53084bf.gif)

[2021-09-01 14:17] pixelzoom commented on #172
This can certainly be done, but it a new issues.

@amanda-phet is this something that you want done? And do you want it for the 1.2 release?

[2021-09-01 14:18] pixelzoom commented on #169
Thanks @stemilymill, good observation about the Point On Parabola.

While this behavior would be similar to the Point Tool, it does not involve the Point Tool, and would be a new feature.  So I've move that change to https://github.com/phetsims/graphing-quadratics/issues/172.

Closing this issue, since the Point Tool has been verified.

[2021-09-01 14:18] #169 closed

[2021-09-02 01:05] pixelzoom commented on #171
It does seem like if it's important enough to be described in Client Requests guide, then it should be featured.
But that's up to @amanda-phet.  If you want to feature it, please edit overrides.js, and let me know that I need to cherry-pick.

All elements named `coordinatesNode.visibleProperty` currently have their own `visibleProperty`, which is not connected to `viewProperties.coordinatesVisible

[2021-09-02 01:25] pixelzoom commented on #171
(3) actually turned out to be pretty easy, ~15 minutes of work. But...

@amanda-phet if we do (2) or (3) in the comment above, then you'll need to rewrite this section of the Client Guide again.  The client will not be able to (and _should not be able to_) set `coordinatesNode.visiblePropert` for manipulators and points, like the vertex.  The visibility of all coordinates will be linked to  `viewP

[2021-09-02 01:30] pixelzoom commented on #172
Note to self...

This involves taking this bit of code from `PointToolNode.PointToolDragListener`:

[code]

... and injecting it into `PointOnParabolaManipulator.PointOnParabolaDragListener`.

[2021-09-02 15:49] amanda-phet commented on #172
I think we should make this change since the goals of the point on parabola are very similar to the point tool.

[2021-09-02 16:07] pixelzoom commented on #172
Done in master and 1.2 branches. @amanda-phet please review in master.

[2021-09-02 18:43] amanda-phet commented on #171
I discussed this with @kathy-phet and @arouinfar and it seems like it makes the most sense to follow current patterns and go with option (3).

We confirmed that there is no actual client request for this feature, so I will remove it from the client guide.

If a client does want this functionality in the future (to be able to hide specific coordinate and not all coordinates), it sounds like we woul

[2021-09-02 20:00] pixelzoom commented on #171
Yes, your understanding of the future plan is correct.

I'll cherry-pick the Client Guide change, then proceed with applying the patch that I created above.

[2021-09-02 20:19] amanda-phet commented on #172
Looks great!

[2021-09-03 00:12] pixelzoom commented on #172
Ready for testing in the next RC.  To verify:

1. Go to the Focus & Directrix screen
2. Check the "Point on Parabola" checkbox
3. Keep the "Coordinates" checkbox checked
4. Move the "Point on Parabola" manipulator (red sphere) along the curve.  Verify that for each x coordinate shown, you only see one y coordinate value.
5. Verify with various configurations of the curve, especially ones with a st

[2021-09-03 00:33] pixelzoom commented on #171
Done in the above commits, for master and 1.2 branches.

@amanda-phet please verify in master.  Run the sim in Studio, inspect the 7 instances of `coordinatesNode.visibleProperty`.  You should see that they are linked to `viewProperty.coordinatesVisibleProperty`.    And if you toggle `viewProperty.coordinatesVisibleProperty`, you should see the visibility of all coordinates change, for static poin

[2021-09-03 01:04] pixelzoom commented on #137
8/31/2021:

* published 1.2.0-rc.3 for RC spot-check testing in https://github.com/phetsims/qa/issues/704

[2021-09-07 15:21] amanda-phet commented on #171
That all looks correct to me.

[2021-09-07 20:46] pixelzoom commented on #171
Ready for testing in the next RC.

To verify:

* From the Wrapper index, open the Client Requests guide. Verify that the "Hide coordinates of the vertex" section no longer exists.
* Run the sim in Studio. Inspect the 7 instances of `coordinatesNode.visibleProperty`. You should see that they are all linked to `viewProperty.coordinatesVisibleProperty`.

[2021-09-08 02:32] pixelzoom commented on #137
9/7/21:

* published RC spot check phetsims/qa#701

[2021-09-08 16:08] pixelzoom commented on #167
Self assigning. I'll probably have some time to do this after Graphing Quadratics 1.2 is published.

[2021-09-08 16:22] Nancy-Salpepi commented on #172
I was unable to find any instances where the same x value had multiple y values. When the y coordinate value changed, so did the x value.

[2021-09-08 16:22] #172 closed

[2021-09-08 16:55] KatieWoe commented on #171
It seems to be ```viewProperties.coordinatesVisibleProperty``` instead. Is that alright?

[2021-09-08 17:06] KatieWoe commented on #171
Otherwise this looks ok. If https://github.com/phetsims/graphing-quadratics/issues/171#issuecomment-915406793 is alright, feel free to close.

[2021-09-08 17:08] amanda-phet commented on #171
Yes, that's right @KatieWoe . I think it was just a typo.

[2021-09-08 17:23] #171 closed

[2021-09-08 18:47] KatieWoe commented on #155
No updates for rc.4

[2021-09-08 20:16] pixelzoom commented on #155
Thanks @KatieWoe. Since we're now ready to publish, I'll close this issue.

[2021-09-08 20:16] #155 closed

[2021-09-09 00:53] pixelzoom commented on #137
9/8/2021: Graphing Quadratics 1.2.0 was deployed.

Extra steps identifed by `grunt production`:

Confirmed, it's listed.

See https://github.com/phetsims/phet-io/issues/1819

See https://github.com/phetsims/phet-io/issues/1820

[2021-09-09 00:57] pixelzoom commented on #137
Build server reports that Graphing Quadratics 1.2.0 deploy failed, details below.   The sim's page at phet.colorado.edu appears to be missing a screenshot.  Clicking where the screenshot should be launches 1.2.0, even though deploy supposedly failed.   Further investigation is occurring in https://github.com/phetsims/perennial/issues/243.

[code]

[2021-09-09 01:27] pixelzoom commented on #156
Done, closing.

[2021-09-09 01:27] #156 closed

[2021-09-10 00:36] pixelzoom commented on #137
Developers investigating phetsims/perennial#243 are confident that the deploy failed in a cleanup step, so the deploys are OK.  So closing this issue.

[2021-09-10 00:36] #137 closed

[2021-09-14 19:11] pixelzoom commented on #167
@amanda-phet ready for review in master. I used your mockup (above) as a guide for colors, spacing, etc.

Here are before and after screenshots.

Graphing Quadratics:

<img width="787" alt="screenshot_1230" src="https://user-images.githubusercontent.com/3046552/133318933-997923f6-f4d3-4d5a-b43e-df1e5e75ca88.png">
<img width="791" alt="screenshot_1229" src="https://user-images.githubusercontent.com

[2021-09-14 19:14] pixelzoom commented on #167
I should also note that I did NOT migrate `PointToolBodyNode` to common code.  There's not a clear place for that, and it's currently used only within the "graphing lines" family of sims.  So as with the other components that are shared by that family, it currently lives in the graphing-lines repo.  If/when a more general use is needed, `PointToolBodyNode` is very general, and can be easily migrat

[2021-09-15 16:09] pixelzoom opened #173 "LightRay this.virtualRay may be undefined."
In LightRay.js constructor:

[code]

So if `!this.hasVirtualRay`, `this.virtualRay` is `undefined`.  This violates PhET convention, and gives LightRay a variable API.   Recommended to set it to `null`, and change the type expression accordingly.

[2021-09-15 16:12] amanda-phet commented on #167
Looks like a nice change overall. Thanks for making this happen @pixelzoom !

[2021-09-15 17:59] pixelzoom opened #174 "Revise screenshots."
The look of the point tool was changed in https://github.com/phetsims/graphing-quadratics/issues/167, so screenshots will need to be revised.  This does not need to be addressed proactively, as other visual changes might be made before this sim is republished.

[2021-09-15 18:03] pixelzoom commented on #167
Screenshots will need to be revised for the sims that use the point tool. I've created issues for each sim, linked above.

This issue is done, and is ready to be verified in a future QA process.

[2022-02-04 16:40] KatieWoe opened #175 "CT designed api changes detected"
[code]

[2022-02-07 01:03] pixelzoom commented on #175
According to @zepumph, this was caused by https://github.com/phetsims/phet-io/commit/2f55312540f657d5c893a0dc6d163d50907d4e8c#diff-32eb810879d5cf8fc29cbccd53bc20fa8713eea8ef401dd531554850b93b5f6cR179 for https://github.com/phetsims/studio/issues/243, and a failure to regenerate the API file for this sim.  CT currently shows the problem has been corrected. If it comes up again, please report in htt

[2022-02-07 01:03] #175 closed

[2022-07-07 15:02] pixelzoom opened #176 "Graphing Quadratics - Publish 1.3 with PhET-iO Upgrades"
As part of the "batch release" milestone https://github.com/orgs/phetsims/projects/44, publish Graphing Quadratics, for brands=phet,phet-io.

[2022-07-11 16:05] pixelzoom commented on #174
@amanda-phet You can attached screenshots to this issue. I'll check them into GitHub and integrate into the sim.  See https://github.com/phetsims/graphing-quadratics/tree/master/assets for the list of screenshots.

[2022-07-11 19:30] amanda-phet commented on #174
All screenshots are in the assets folder. Tagging as ready for review by QA.

[2022-07-13 20:44] pixelzoom opened #177 "Update QA credits for 1.3 release."
Update QA credits for 1.3 release.

[2022-08-30 01:42] pixelzoom opened #178 "Add support for dynamic locale"
... similar to what was done in https://github.com/phetsims/natural-selection/issues/319.

@kathy-phet said:

Note that since graphing-lines is a dependency of this sim, this will also involve touching graphing-lines.

[2022-08-30 01:44] pixelzoom opened #179 "Migration rules for 1.3 release"
#178 (add support for dynamic locale) will certainly result in many API changes. According to the PhET-iO spreadsheet, this sim needs to provide support migration from 1.2 to 1.3. So migration rules will be needed.

[2022-08-30 02:10] pixelzoom opened #180 "PhET-iO design review for 1.3 release"
#178 (add support for dynamic locale) will certainly result in many API changes, and there have been many common-code API changes and additions.  So this sim will require a full design review of the PhET-iO API.

[2022-09-13 20:58] pixelzoom commented on #178
Unassigning until this becomes a priority.

[2022-09-13 20:58] pixelzoom commented on #176
Unassigning until this becomes a priority.

[2022-10-12 22:25] samreid commented on #179
I'll reassign this when we get closer to that stage. Self-unassigning for now.